.checkout {
  width: 490px;
  margin: 0 auto;
}
.checkout .product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 36px;
}
.checkout .product .pic {
  flex: 100px;
  border-radius: 8px;
  overflow: hidden;
}
.checkout .product .info {
  flex: calc(100% - 120px);
}
.checkout .product .info p {
  margin-bottom: 8px;
}
.checkout .product .info p.title {
  font-size: 16px;
  font-weight: 700;
}
.checkout .product .info p .amount {
  font-size: 24px;
  font-weight: 700;
}
.checkout .product .info p .currency {
  font-size: 18px;
  font-weight: 500;
}
.checkout .product .warning {
  flex: 100%;
  background-color: rgba(224, 128, 131, 0.15);
  border-radius: 8px;
  padding: 8px 10px;
}
.checkout .product .warning a {
  font-weight: 700;
  transition: all 0.5s;
}
.checkout .product .warning a:hover {
  color: #d85f63;
}
.checkout .payment {
  margin-bottom: 28px;
}
.checkout .payment label {
  font-size: 14px;
  font-weight: 700;
}
.checkout .payment .payment-select li {
  position: relative;
  margin: 12px 0;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid #898989;
  cursor: pointer;
  transition: all 0.5s;
}
.checkout .payment .payment-select li:hover {
  background-color: rgba(138, 163, 255, 0.1);
}
.checkout .payment .payment-select li[checked] {
  cursor: default;
  color: #8AA3FF;
  background-color: rgba(138, 163, 255, 0.2);
  border-color: #8AA3FF;
}
.checkout .payment .payment-select li[checked]:after {
  position: absolute;
  content: url(../images/icon/icon-check.svg);
  right: 20px;
}
.checkout .payment p + .desc {
  margin-top: 12px;
}
.checkout .payment .desc {
  color: #BDBDBD;
}
.checkout .payment .desc a {
  color: #8AA3FF;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.5s;
}
.checkout .payment .desc a:hover {
  color: #718fff;
}
.checkout form .title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}
.checkout form .title img {
  display: inline-block;
  margin-left: 8px;
  transform: translateY(-1px);
  transition: all 0.5s;
}
.checkout form .title img:hover {
  filter: brightness(80%);
}
.checkout form .checkbox {
  background-color: #353535;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 20px;
}
.checkout form #invoice {
  display: none;
}
.checkout form #invoice.active {
  display: block;
}
.checkout form #invoice .invoice-type {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  color: #BDBDBD;
}
.checkout form #invoice .invoice-type.show {
  display: flex;
}
.checkout form #invoice .invoice-type .note {
  font-size: 14px;
  color: #898989;
}
.checkout form #invoice .invoice-type label {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.checkout form #invoice .invoice-type label span {
  flex: 100%;
  display: flex;
  align-items: center;
}
.checkout form #invoice .invoice-type label span img {
  margin-left: 8px;
  transition: all 0.5s;
}
.checkout form #invoice .invoice-type label input {
  flex: 100%;
}
.checkout form #invoice .invoice-type #carrier-select span {
  color: #EFEFEF;
}
.checkout form #invoice .invoice-type .carrier-select-content {
  flex: 100%;
  display: none;
}
.checkout form #invoice .invoice-type .carrier-select-content.show {
  display: inline;
  margin-bottom: 12px;
}
.checkout form #invoice .invoice-type #county-select, .checkout form #invoice .invoice-type #city-select {
  align-self: flex-start;
}
.checkout form #invoice .invoice-type #county-select div, .checkout form #invoice .invoice-type #city-select div {
  z-index: 100;
}
.checkout form #invoice .invoice-type #county-select div ul, .checkout form #invoice .invoice-type #city-select div ul {
  max-height: 15em;
  overflow-y: auto;
}
.checkout form #invoice .invoice-type #county-select {
  flex: 1;
}
.checkout form #invoice .invoice-type #city-select {
  flex: 1.3;
}
.checkout form .agree {
  display: block;
  margin-top: 44px;
}
.checkout form .agree a {
  color: #8AA3FF;
  font-weight: 700;
  transition: all 0.5s;
}
.checkout form .agree a:hover {
  color: #718fff;
}
.checkout form input[type=submit], .checkout form button {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  font-size: 14px;
}
.checkout form .selector div ul li {
  text-align: center;
}

.popUp p.note {
  font-size: 14px;
  text-align: justify;
}
.popUp p.note a {
  font-weight: 700;
  color: #8AA3FF;
}
.popUp p.note + p.note {
  margin-top: 2em;
}

@media screen and (max-width: 767px) {
  .checkout {
    max-width: 90vw;
  }
}