.pg-12 {
  position: absolute;
  top: 480px;
  right: 5vw;
  width: 40px;
}
.pg-12 img {
  max-width: 100%;
}

.animation-banner {
  display: flex;
  align-items: center;
  height: 650px;
  overflow: hidden;
  max-width: 72rem;
  margin: 0 auto;
}
.animation-banner .animation-wrap {
  order: 2;
  position: absolute;
  margin-top: -96px;
  top: 96px;
  right: 0;
  height: auto;
  width: 70vw;
}
.animation-banner main {
  width: 408px;
  padding-top: 100px;
  color: #ffffff;
}
.animation-banner main h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
}
.animation-banner main h2 span {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  background: linear-gradient(to right, #E63EB6, #749FF5);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.animation-banner main p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}
.animation-banner main p.updated-time {
  font-size: 12px;
  font-weight: 400;
  color: #898989;
  margin-top: 24px;
}
.animation-banner main .btns {
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 700;
  justify-content: flex-start;
}
.animation-banner main .btns button {
  width: 150px;
  height: 40px;
}
.animation-banner main ul {
  padding-top: 48px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px 56px;
}
.animation-banner main ul li {
  flex: calc(50% - 28px);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
}
.animation-banner main ul li span {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  color: #BDBDBD;
  display: flex;
  align-items: center;
}
.animation-banner main ul li span img {
  margin-left: 4px;
}
.animation-banner main ul li:nth-child(odd) {
  max-width: 115px;
}
.animation-banner main ul li:nth-child(even) {
  max-width: calc(100% - 171px);
}

.banner-ranking {
  width: 90vw;
  max-width: 76rem;
  margin: 0 auto 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.banner-ranking .banner-frame {
  flex: 30vw;
  max-width: 30vw;
  margin: 0 auto;
}
.banner-ranking .banner-frame .banner-content {
  position: relative;
  height: 12vw;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #898989;
}
.banner-ranking .banner-frame .banner-content a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-ranking .banner-frame .banner-content a img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.banner-ranking .banner-frame .banner-thumb {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  gap: 8px;
}
.banner-ranking .ranking-frame {
  flex: 100%;
  flex-shrink: 0;
  position: relative;
  border-radius: 40px;
  padding: 12px 28px;
  height: 160px;
}
.banner-ranking .ranking-frame .ranking-header {
  display: flex;
  align-items: center;
}
.banner-ranking .ranking-frame .ranking-header .title {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding-right: 20px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 700;
  color: #EFEFEF;
}
.banner-ranking .ranking-frame .ranking-header .title img {
  display: inline;
}
.banner-ranking .ranking-frame .ranking-header .gold-medal {
  background: #7B61FF;
  border-radius: 12px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.banner-ranking .ranking-frame .ranking-header .gold-medal ul li {
  flex: 100%;
  justify-content: space-between;
  gap: 12px;
  text-align: center;
  font-size: 12px;
  color: #EFEFEF;
  padding: 6px 12px;
  height: 32px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.banner-ranking .ranking-frame .ranking-header .gold-medal ul li span {
  font-weight: 700;
  font-size: 12px;
}
.banner-ranking .ranking-frame .ranking-header .gold-medal ul li span img {
  display: inline;
  max-width: 20px;
  margin-right: 8px;
}
.banner-ranking .ranking-frame .ranking-header .gold-medal ul li:first-child {
  display: flex;
}
.banner-ranking .ranking-frame .ranking-header .gold-medal ul li:last-child {
  display: none;
}
.banner-ranking .ranking-frame .ranking-header .btns {
  flex: 100%;
}
.banner-ranking .ranking-frame .ranking-header .btns #ranking-basis {
  float: right;
  display: flex;
  width: calc(4em + 54px);
  border: 1px solid #353535;
  border-radius: 22px;
  padding: 8px;
  position: relative;
  gap: 4px;
  cursor: pointer;
}
.banner-ranking .ranking-frame .ranking-header .btns #ranking-basis button {
  color: #EFEFEF;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 12px;
  z-index: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.banner-ranking .ranking-frame .ranking-header .btns #ranking-basis:before {
  content: "";
  background-color: #8AA3FF;
  width: 48px;
  height: 26px;
  border-radius: 16px;
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease-in;
  left: 8px;
}
.banner-ranking .ranking-frame .ranking-content {
  overflow: hidden;
}
.banner-ranking .ranking-frame .ranking-content p.no-info {
  display: none;
}
.banner-ranking .ranking-frame .ranking-content p.update-time {
  flex: 100%;
  text-align: center;
  font-size: 10px;
  color: #898989;
  margin-top: 0;
}
.banner-ranking .ranking-frame .ranking-content p.update-time span:after {
  content: " | ";
}
.banner-ranking .ranking-frame .ranking-content .content-switch {
  display: flex;
  width: calc(200% + 20px);
}
.banner-ranking .ranking-frame .ranking-content .content-switch ul {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: inherit;
  height: 78px;
}
.banner-ranking .ranking-frame .ranking-content .content-switch ul li {
  flex: 30%;
  max-width: 30%;
  color: #BDBDBD;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.banner-ranking .ranking-frame .ranking-content .content-switch ul li .rank {
  flex: 16px;
  min-width: 16px;
  text-align: center;
  color: #898989;
  font-size: 12px;
}
.banner-ranking .ranking-frame .ranking-content .content-switch ul li .id {
  color: #EFEFEF;
  font-weight: 700;
  font-size: 12px;
  min-width: 93px;
}
.banner-ranking .ranking-frame .ranking-content .content-switch ul li .amount {
  flex: calc(100% - 120px);
  max-width: calc(100% - 120px);
  font-size: 12px;
}
.banner-ranking .ranking-frame.byWeek .ranking-header .gold-medal ul li:first-child {
  display: none;
}
.banner-ranking .ranking-frame.byWeek .ranking-header .gold-medal ul li:last-child {
  display: flex;
}
.banner-ranking .ranking-frame.byWeek .ranking-header .btns #ranking-basis:before {
  left: 60px;
}
.banner-ranking .ranking-frame.byWeek .ranking-content .content-switch {
  transform: translateX(-50%);
}
.banner-ranking .ranking-frame.coming-soon .ranking-header .gold-medal {
  display: none;
}
.banner-ranking .ranking-frame.coming-soon .ranking-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 72px);
}
.banner-ranking .ranking-frame.coming-soon .ranking-content p.no-info {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  color: #BDBDBD;
}
.banner-ranking .ranking-frame.coming-soon .ranking-content p.update-time {
  display: none;
}
.banner-ranking .ranking-frame.coming-soon .ranking-content ul {
  display: none;
}
.banner-ranking .ranking-frame:before, .banner-ranking .ranking-frame:after {
  content: "";
  position: absolute;
  border-radius: 40px;
  z-index: -1;
}
.banner-ranking .ranking-frame:before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(to right, #E63EB6, #749FF5);
}
.banner-ranking .ranking-frame:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1F1F1F;
}

.step {
  max-width: 800px;
  margin: 0 auto 120px;
}
.step h2 {
  text-align: center;
}
.step .step-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 42px 0;
}
.step .step-tab li {
  flex: 1;
  position: relative;
  text-align: center;
  color: #898989;
  cursor: pointer;
  transition: all 0.5s;
}
.step .step-tab li span {
  display: inline-block;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  background-color: #898989;
  color: #121212;
  transition: all 0.5s;
}
.step .step-tab li p {
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s;
}
.step .step-tab li.active span, .step .step-tab li:hover span {
  background-color: #8AA3FF;
}
.step .step-tab li.active p, .step .step-tab li:hover p {
  color: #8AA3FF;
}
.step .step-tab li:after {
  position: absolute;
  top: 50%;
  right: -28px;
  transform: translateY(-50%);
  content: url(../images/icon/icon-arrow-step.svg);
}
.step .step-tab li:last-child:after {
  content: "";
}
.step .step-contents {
  max-width: 800px;
  margin: 0 auto;
}
.step .step-contents ul {
  display: none;
  gap: 20px;
  justify-content: center;
}
.step .step-contents ul li {
  flex: 1;
  max-width: 380px;
  padding: 28px;
  border: 1px solid #353535;
  border-radius: 40px;
  color: #EFEFEF;
  text-align: center;
}
.step .step-contents ul li p.title {
  font-weight: 700;
}
.step .step-contents ul li img {
  margin: 24px auto;
  height: 106px;
}
.step .step-contents ul li .btns {
  display: flex;
  gap: 8px;
}
.step .step-contents ul li .btns button {
  flex: 1;
  height: 44px;
  padding: 8px 12px;
}
.step .step-contents ul li:first-child {
  display: none;
}
.step .step-contents ul.active {
  display: flex;
}

.faq {
  max-width: 1080px;
  margin: 0 auto 120px;
}
.faq h2 {
  text-align: center;
}
.faq ul li {
  padding: 20px;
  border-bottom: 1px solid #353535;
  color: #EFEFEF;
}
.faq ul li .question {
  position: relative;
  cursor: pointer;
  padding: 12px 48px 12px 0;
  font-weight: 700;
}
.faq ul li .question:after {
  content: url(../images/icon/icon-arrow-bottom.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.faq ul li .answer {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.5s;
  padding-right: 48px;
  font-weight: 400;
}
.faq ul li.open .question:after {
  transform: translateY(-50%) rotate(180deg);
}
.faq ul li.open .answer {
  max-height: 100vh;
  padding: 12px 48px 12px 0;
}
.faq ul li a {
  color: #8AA3FF;
  font-weight: 700;
  transition: all 0.3s;
}
.faq ul li a:hover {
  color: #718fff;
}
.faq ul li:last-child {
  border-bottom: 0;
}

.buy-pass {
  max-width: 850px;
  margin: 0 auto 120px;
}
.buy-pass h2 {
  text-align: center;
  margin-bottom: 42px;
}
.buy-pass .pass-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 40px;
}
.buy-pass .pass-items li {
  flex: calc((100% - 80px) / 3);
  border: 1px solid #353535;
  border-radius: 20px;
  padding: 58px 36px 16px 36px;
  cursor: pointer;
  transition: all 0.5s;
}
.buy-pass .pass-items li img {
  margin-bottom: 16px;
}
.buy-pass .pass-items li span {
  display: block;
  font-weight: 700;
}
.buy-pass .pass-items li span.name {
  margin-bottom: 12px;
}
.buy-pass .pass-items li span.fee {
  color: #8AA3FF;
}
.buy-pass .pass-items li span.usdt {
  color: #898989;
  font-size: 12px;
}
.buy-pass .pass-items li:hover {
  transform: translateY(-8px);
}

.roadmap {
  max-width: 1080px;
  margin: 0 auto 120px;
}
.roadmap h2 {
  text-align: center;
}
.roadmap .img-m {
  display: none;
}

.team {
  max-width: 1080px;
  margin: 0 auto 120px;
}
.team h3 {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 42px;
}
.team .team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 42px 16px;
  justify-content: center;
}
.team .team-list li {
  flex: calc((100% - 80px) / 6);
  max-width: calc((100% - 80px) / 6);
}
.team .team-list li img {
  border-radius: 16px;
  width: calc(100% - 60px);
  margin: 0 auto 12px;
}
.team .team-list li span {
  display: block;
  text-align: center;
}
.team .team-list li span.name {
  font-weight: 700;
  color: #EFEFEF;
}
.team .team-list li span.occupation {
  font-size: 12px;
  color: #898989;
}
.team .more {
  display: none;
}

.coworker {
  max-width: 1080px;
  margin: 0 auto 120px;
}
.coworker h3 {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 42px;
}
.coworker .coworker-list {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.coworker .coworker-list li {
  flex: 1;
  max-width: 160px;
}

#download--popUp .popUp--container {
  min-width: 512px;
}
#download--popUp .popUp--container .mobile {
  display: none;
}
#download--popUp .popUp--container p.desc {
  font-size: 14px;
  color: #BDBDBD;
}
#download--popUp .popUp--container .qrc {
  max-width: 120px;
  margin: 28px auto;
}
#download--popUp .popUp--container .btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
#download--popUp .popUp--container .btns button {
  flex: 100%;
  max-width: 280px;
  height: 44px;
  background-color: #8AA3FF;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 700;
}
#download--popUp .popUp--container .btns button:hover {
  background-color: #7087D8;
}

@media screen and (min-width: 1440px) {
  .pg-12 {
    right: calc(50% - 38rem);
    top: 540px;
  }
  .animation-banner .animation-wrap {
    right: calc(50% - 760px);
    width: 65vw;
  }
  .banner-ranking .banner-frame {
    flex: 400px;
    max-width: 400px;
  }
  .banner-ranking .banner-frame .banner-content {
    height: 160px;
  }
  .banner-ranking .ranking-frame {
    flex: calc(100% - 428px);
  }
  .banner-ranking .ranking-frame .ranking-content p.update-time {
    margin-top: -2px;
  }
}
@media screen and (max-width: 1200px) {
  .animation-banner {
    max-width: 90vw;
  }
  .animation-banner .animation-wrap {
    left: 240px;
  }
  .banner-ranking {
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-ranking .banner-frame {
    flex: 50vw;
    max-width: 50vw;
  }
  .banner-ranking .banner-frame .banner-content {
    height: 20vw;
  }
  .banner-ranking .banner-frame .banner-content a {
    left: 0;
    right: 0;
  }
  .banner-ranking .banner-frame .banner-content a img {
    min-width: 100%;
  }
  .banner-ranking .ranking-frame {
    height: 172px;
  }
  .roadmap, .team, .coworker {
    max-width: 90vw;
  }
}
@media screen and (max-width: 831px) {
  .pg-12 {
    top: 532px;
  }
  .animation-banner {
    display: block;
    margin-bottom: 28px;
    height: auto;
  }
  .animation-banner .animation-wrap {
    top: 60px;
    left: -200px;
    right: -120px;
    width: auto;
  }
  .animation-banner main {
    width: 80vw;
    margin: 650px auto 56px;
  }
  .animation-banner main ul li:nth-child(even) {
    flex: calc(100% - 171px);
  }
  .banner-ranking .banner-frame {
    flex: 60%;
    max-width: 60%;
  }
  .banner-ranking .banner-frame .banner-content {
    height: 20vw;
  }
  .banner-ranking .ranking-frame {
    flex: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 20px;
  }
  .banner-ranking .ranking-frame .ranking-header {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }
  .banner-ranking .ranking-frame .ranking-header .title {
    flex: calc(50% - 6px);
    padding: 0;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal {
    display: flex;
    flex: 100%;
    order: 2;
    overflow: hidden;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal ul {
    display: flex;
    min-width: 200%;
    transition: all 0.6s ease-in;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal ul li {
    display: flex !important;
    flex: 50%;
    max-width: 50%;
    justify-content: flex-start;
    gap: 12px;
    transition: all 0.6s ease-in;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal ul li span {
    font-size: 14px;
  }
  .banner-ranking .ranking-frame .ranking-header .btns {
    flex: calc(50% - 6px);
  }
  .banner-ranking .ranking-frame .ranking-content {
    margin-top: 20px;
  }
  .banner-ranking .ranking-frame .ranking-content p.update-time {
    margin-top: 8px;
  }
  .banner-ranking .ranking-frame .ranking-content .content-switch {
    transition: all 0.6s ease-in;
  }
  .banner-ranking .ranking-frame .ranking-content .content-switch ul {
    height: auto;
    flex-direction: row;
    align-items: inherit;
    gap: 8px;
  }
  .banner-ranking .ranking-frame .ranking-content .content-switch ul li {
    flex: 100%;
    max-width: 100%;
  }
  .banner-ranking .ranking-frame .ranking-content .content-switch ul li .rank {
    max-width: 24px;
    padding-left: 10px;
  }
  .banner-ranking .ranking-frame .ranking-content .content-switch ul li .id {
    min-width: 108px;
    font-size: 14px;
  }
  .banner-ranking .ranking-frame .ranking-content .content-switch ul li .amount {
    max-width: 68px;
    padding-right: 12px;
    font-size: 14px;
  }
  .banner-ranking .ranking-frame.byWeek .ranking-header .gold-medal ul {
    transform: translateX(-50%);
  }
  .banner-ranking .ranking-frame p {
    margin-top: 16px;
  }
  .step {
    max-width: 90vw;
  }
  .buy-pass {
    max-width: 90vw;
  }
  .team {
    max-width: 90vw;
  }
  .team .team-list li {
    flex: calc((100% - 48px) / 4);
    max-width: calc((100% - 48px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .pg-12 {
    top: 400px;
  }
  .animation-banner .animation-wrap {
    top: 28px;
    right: 84px;
    left: 28px;
  }
  .animation-banner main {
    margin-top: 540px;
  }
  .banner-ranking .ranking-frame {
    max-width: 90vw;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal {
    min-width: auto;
  }
  .step .step-tab {
    max-width: 500px;
    margin: 42px auto 16px;
  }
  .step .step-tab li p {
    display: none;
  }
  .step .step-contents ul {
    flex-wrap: wrap;
  }
  .step .step-contents ul li {
    flex: 100%;
  }
  .step .step-contents ul.active li:first-child {
    display: block;
    border: none;
    padding: 0 0 16px 0;
    color: #8AA3FF;
    font-size: 14px;
    font-weight: 700;
  }
  .faq {
    max-width: 90vw;
  }
  .buy-pass .pass-items li {
    flex: calc((100% - 40px) / 2);
  }
}
@media screen and (max-width: 515px) {
  .pg-12 {
    width: 30px;
    top: 360px;
  }
  .animation-banner {
    margin-bottom: 56px;
  }
  .animation-banner .animation-wrap {
    overflow: hidden;
    top: 100px;
    right: 0;
    left: 0;
  }
  .animation-banner main {
    width: 90vw;
    margin-top: 320px;
    margin-bottom: 0;
  }
  .animation-banner main h2 {
    font-size: 24px;
  }
  .animation-banner main h2 span {
    font-size: 24px;
  }
  .animation-banner main p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .animation-banner main .btns {
    gap: 12px;
    font-size: 13px;
    flex-wrap: wrap;
  }
  .animation-banner main .btns button {
    flex: 100%;
    height: 44px;
  }
  .animation-banner main .btns button#download--open {
    order: 2;
  }
  .animation-banner main ul {
    padding-top: 26px;
  }
  .banner-ranking {
    gap: 48px;
    margin-bottom: 64px;
  }
  .banner-ranking .banner-frame {
    flex: 100%;
    max-width: 100%;
  }
  .banner-ranking .banner-frame .banner-content {
    height: 40vw;
  }
  .banner-ranking .ranking-frame .ranking-header .title {
    flex: 100%;
    text-align: center;
    font-size: 18px;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal ul li {
    align-items: center;
  }
  .banner-ranking .ranking-frame .ranking-header .gold-medal ul li span {
    font-size: 14px;
  }
  .banner-ranking .ranking-frame .ranking-header .btns {
    flex: none;
    margin: 0 auto;
  }
  .banner-ranking .ranking-frame .ranking-header .btns #ranking-basis {
    width: auto;
  }
  .banner-ranking .ranking-frame .ranking-header .btns #ranking-basis button {
    padding: 4px 10px;
    font-size: 14px;
  }
  .banner-ranking .ranking-frame .ranking-header .btns #ranking-basis:before {
    height: 30px;
  }
  .banner-ranking .ranking-frame .ranking-content p.update-time {
    margin-top: 20px;
    font-size: 14px;
  }
  .banner-ranking .ranking-frame .ranking-content p.update-time span::after {
    content: "";
    display: block;
  }
  .step {
    margin-bottom: 60px;
  }
  .step .step-tab {
    max-width: 224px;
    margin: 24px auto 20px;
  }
  .step .step-tab li:after {
    right: -28px;
    transform: translateY(-55%);
  }
  .step .step-contents ul li p.title {
    font-size: 16px;
  }
  .step .step-contents ul.active li:first-child {
    padding: 0;
    margin-bottom: -4px;
    font-size: 16px;
  }
  .faq {
    margin-bottom: 64px;
  }
  .faq ul li {
    padding: 16px 12px;
  }
  .faq ul li .question {
    padding: 0 32px 0 0;
  }
  .faq ul li .question:after {
    right: 0;
  }
  .faq ul li .answer {
    padding: 0 32px 0 0;
  }
  .faq ul li.open .answer {
    padding: 12px 32px 12px 0;
  }
  .buy-pass {
    margin-bottom: 60px;
  }
  .buy-pass h2 {
    margin-bottom: 24px;
  }
  .buy-pass .pass-items {
    gap: 16px;
  }
  .buy-pass .pass-items li {
    flex: 100%;
  }
  .roadmap {
    margin-bottom: 60px;
  }
  .roadmap h2 {
    margin-bottom: 24px;
  }
  .roadmap .img-pc {
    display: none;
  }
  .roadmap .img-m {
    display: block;
    margin: 0 auto;
  }
  .team {
    margin-bottom: 60px;
  }
  .team h3 {
    margin-bottom: 24px;
  }
  .team .team-list {
    gap: 16px;
    justify-content: flex-start;
  }
  .team .team-list li {
    display: none;
    flex: calc((100% - 16px) / 2);
    max-width: calc((100% - 16px) / 2);
  }
  .team .team-list li:first-child, .team .team-list li:nth-child(2), .team .team-list li:nth-child(3), .team .team-list li:nth-child(4), .team .team-list li:nth-child(5), .team .team-list li:nth-child(6) {
    display: inline;
  }
  .team .team-list li span.occupation {
    font-size: 14px;
  }
  .team .more {
    display: block;
    border-radius: 0;
    margin: 28px auto;
    text-align: center;
    color: #898989;
    font-size: 14px;
    cursor: pointer;
  }
  .team .more img {
    margin: 0 auto;
  }
  .coworker h3 {
    margin-bottom: 24px;
  }
  #download--popUp .popUp--container {
    min-width: auto;
  }
  #download--popUp .popUp--container .web {
    display: none;
  }
  #download--popUp .popUp--container .mobile {
    display: inline;
  }
  #download--popUp .popUp--container #app-store {
    margin-top: 28px;
  }
}