.popUp {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.88);
  z-index: 100;
}
.popUp .popUp--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1F1F1F;
  color: #EFEFEF;
  border-radius: 24px;
  border: 1px solid #353535;
  padding: 40px;
  width: 510px;
  max-height: 80vh;
}
.popUp .popUp--container .popUp--close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: rgba(137, 137, 137, 0.3);
  height: 36px;
  width: 36px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.15s ease;
}
.popUp .popUp--container .popUp--close img {
  width: 100%;
}
.popUp .popUp--container .popUp--close:hover {
  background-color: rgba(137, 137, 137, 0.4);
}
.popUp .popUp--container h2 {
  margin-bottom: 28px;
  text-align: center;
}
.popUp .popUp--container .popUp--content {
  overflow-y: auto;
  margin-right: -24px;
  padding-right: 24px;
  max-height: calc(80vh - 144px);
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}
.popUp .popUp--container .popUp--content p {
  margin-bottom: 16px;
}
.popUp .popUp--container .popUp--content ul {
  font-size: 14px;
  color: #BDBDBD;
  margin-bottom: 8px;
  padding-left: 2em;
  text-indent: -2em;
}
.popUp .popUp--container .popUp--content ul li {
  margin-bottom: 8px;
}
.popUp .popUp--container .popUp--content ul a {
  font-weight: 700;
  color: #8AA3FF;
}
.popUp .popUp--container .popUp--content::-webkit-scrollbar {
  border-radius: 2px;
  background-color: #898989;
  width: 2px;
}
.popUp .popUp--container .popUp--content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #BDBDBD;
  border-radius: 2px;
}
.popUp .popUp--container .popUp--submit {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 100%;
  margin-top: 28px;
  border-radius: 22px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  line-height: 44px;
  background: linear-gradient(to right, #E63EB6, #749FF5);
}
.popUp .popUp--container .popUp--submit .count {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  line-height: 1em;
}
.popUp .popUp--container .popUp--submit[disabled] .count {
  color: #8AA3FF;
}
.popUp .popUp--container .popUp--submit:hover {
  background: linear-gradient(to right, #cf36a3, #658ad6);
}
.popUp.active {
  display: block;
}
.popUp__button .popUp--container .popUp--content {
  max-height: calc(80vh - 216px);
}
.popUp__check .popUp--container .popUp--content {
  max-height: calc(80vh - 252px);
}

@media screen and (max-width: 515px) {
  .popUp .popUp--container {
    width: calc(100vw - 40px);
    padding: 28px;
  }
  .popUp .popUp--container .popUp--close {
    top: 20px;
    right: 20px;
  }
  .popUp .popUp--container .popUp--content {
    margin-right: -16px;
    padding-right: 16px;
    max-height: calc(80vh - 110px);
  }
  .popUp__button .popUp--container .popUp--content {
    max-height: calc(80vh - 184px);
  }
  .popUp__check .popUp--container .popUp--content {
    max-height: calc(80vh - 216px);
  }
}