main.product {
  display: flex;
  justify-content: center;
}

.pic-box {
  width: 50%;
  max-width: 400px;
  height: 400px;
  margin-right: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 10.3rem;
}
.pic-box .pic {
  width: 100%;
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 24px;
}
.pic-box .pic img {
  width: 100%;
  height: 100%;
}
.pic-box .badge ul {
  display: flex;
  align-items: center;
}
.pic-box .badge ul li {
  padding: 0 0.2rem;
  font-size: 12px;
  font-weight: 700;
  color: #898989;
}

.content-box {
  width: calc(50% - 3rem);
  padding-top: 0.5rem;
}
.content-box .box-title {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #EFEFEF;
}
.content-box .product-name {
  margin-bottom: 32px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #EFEFEF;
}
.content-box .product-txt {
  margin-bottom: 32px;
  font-size: 0.875rem;
  color: #BDBDBD;
  line-height: 1.6;
  text-align: justify;
}
.content-box .product-txt a {
  font-weight: 700;
  color: #8AA3FF;
}
.content-box .currency-box {
  margin-bottom: 2.25rem;
}
.content-box .currency-box .currency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.content-box .currency-box .currency-list .currency {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.content-box .currency-box .currency-list .currency:last-child {
  margin-right: 0;
}
.content-box .currency-box .currency-list .currency label.change-box {
  padding: 0;
}
.content-box .currency-box .currency-list .currency input {
  display: none;
}
.content-box .currency-box .currency-list .currency .pay {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 105px;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #EFEFEF;
  text-align: center;
  line-height: 160%;
  border: 1px #353535 solid;
  border-radius: 5rem;
  transition: 0.5s ease;
  vertical-align: middle;
  cursor: pointer;
}
.content-box .currency-box .currency-list .currency .pay img {
  height: 1.3rem;
  margin-right: 0.5rem;
}
.content-box .currency-box .currency-list .currency input:checked + label .pay {
  background-color: #BDBDBD;
  color: #1F1F1F;
  border: 1px #BDBDBD solid;
}
.content-box .amount-box {
  margin-bottom: 2.25rem;
}
.content-box .amount-box .amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  border: 1px #353535 solid;
  border-radius: 5rem;
}
.content-box .amount-box .amount button {
  width: 1.4rem;
}
.content-box .amount-box .amount button.none img {
  opacity: 0.3;
}
.content-box .amount-box .amount .input-amount {
  display: block;
  width: 2.5rem;
  padding: 0;
  margin: 0 2.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #EFEFEF;
  line-height: 1.25rem;
  text-align: center;
  background-color: transparent;
}
.content-box .amount-box p.remark {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: #BDBDBD;
}
.content-box .amount-box p.remark.error {
  color: #E08083;
}
.content-box .amount-box .input-invitation-code {
  display: block;
  width: 100%;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  color: #EFEFEF;
  line-height: 1.25rem;
  border: 1px #353535 solid;
  border-radius: 999px;
  background-color: transparent;
}
.content-box .amount-box .input-invitation-code:focus {
  outline: none;
  border: 1px solid #7e97f0;
}
.content-box .note-box {
  padding-bottom: 1.5rem;
}
.content-box .note-box .txt {
  font-size: 0.875rem;
  font-weight: 400;
  color: #BDBDBD;
  line-height: 1.625;
}
.content-box .note-box .txt a {
  margin: 0 0.25rem;
  font-weight: 700;
  color: #7e97f0;
}
.content-box .check-box {
  padding: 1.5rem 0 2.25rem;
  background-color: #121212;
  box-shadow: 0px -10px 17px #121212;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
.content-box .check-box .total {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: #EFEFEF;
}
.content-box .check-box .total span {
  display: flex;
  align-items: end;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.content-box .check-box .total span.ic-coin {
  align-items: center;
}
.content-box .check-box .total span.ic-coin img {
  display: inline-block;
  height: 1.8rem;
  margin-right: 0.5rem;
}
.content-box .check-box .total span span.currency {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 2rem;
}
.content-box .check-box a.btn {
  display: block;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #EFEFEF;
  text-align: center;
  border-radius: 5rem;
}

@media screen and (max-width: 1023px) {
  .content-box {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 515px) {
  main.product {
    display: block;
    justify-content: center;
    padding-bottom: 150px;
  }
  .pic-box {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 0 2.5rem 0;
    position: relative;
    top: 0;
  }
  .content-box {
    width: 100%;
    padding: 0;
  }
  .content-box p.remark {
    font-size: 0.875rem;
  }
  .content-box .currency-box .currency-list .currency {
    margin-right: 0.6rem;
    margin-bottom: 1rem;
  }
  .content-box .currency-box .currency-list .currency .pay {
    min-width: 96px;
    font-size: 1rem;
  }
  .content-box .currency-box .currency-list .currency .pay img {
    height: 1.2rem;
  }
  .content-box .check-box {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: #1F1F1F;
    border: 1px #353535 solid;
    border-radius: 20px 20px 0px 0px;
    box-shadow: none;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .content-box .check-box .total span {
    font-size: 1.125rem;
  }
  .content-box .check-box .total span.ic-coin img {
    height: 1.6rem;
  }
  .content-box .check-box .total span span.currency {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .content-box .check-box a.btn {
    display: block;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #EFEFEF;
    text-align: center;
    border-radius: 5rem;
  }
}