@charset "UTF-8";
.record {
  margin-bottom: 64px;
}
.record h2 {
  margin-bottom: 32px;
}
.record .record-tab {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #353535;
}
.record .record-tab li {
  border-bottom: 3px solid transparent;
  font-size: 12px;
  font-weight: 700;
}
.record .record-tab li a {
  display: inline-block;
  padding: 12px 16px;
  color: #898989;
  transition: all 0.5s;
}
.record .record-tab li.active {
  border-color: #8AA3FF;
}
.record .record-tab li.active a, .record .record-tab li:hover a {
  color: #EFEFEF;
}
.record .no-record {
  width: 190px;
  margin: 100px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.record .no-record .title {
  font-weight: 700;
  margin-bottom: 4px;
}
.record .no-record .desc {
  font-size: 12px;
  color: #898989;
}
.record .no-record button {
  width: 135px;
  padding: 12px;
  color: #EFEFEF;
  font-size: 12px;
  font-weight: 700;
  margin-top: 28px;
}
.record .record-content .filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
  color: #BDBDBD;
  font-size: 12px;
  margin: 16px 0;
}
.record .record-content .filter .days,
.record .record-content .filter .pages {
  position: relative;
}
.record .record-content .filter .days button,
.record .record-content .filter .pages button {
  font-size: 14px;
  font-weight: 700;
  color: #8AA3FF;
  padding: 8px;
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.5s;
}
.record .record-content .filter .days button img,
.record .record-content .filter .pages button img {
  display: inline-block;
  margin-left: 12px;
  transition: all 0.5s;
}
.record .record-content .filter .days button:hover,
.record .record-content .filter .pages button:hover {
  filter: brightness(80%);
}
.record .record-content .filter .days .items,
.record .record-content .filter .pages .items {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 0 8px;
  width: 144px;
  right: 0;
  transition: all 0.5s;
}
.record .record-content .filter .days .items ul,
.record .record-content .filter .pages .items ul {
  overflow: hidden;
  max-height: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #EFEFEF;
  transition: all 0.3s;
}
.record .record-content .filter .days .items ul li,
.record .record-content .filter .pages .items ul li {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
.record .record-content .filter .days .items ul li:hover,
.record .record-content .filter .pages .items ul li:hover {
  background-color: #353535;
}
.record .record-content .filter .days.active button img,
.record .record-content .filter .pages.active button img {
  transform: rotate(180deg);
}
.record .record-content .filter .days.active .items,
.record .record-content .filter .pages.active .items {
  border: 1px solid #353535;
  background-color: #1F1F1F;
  padding: 8px;
  z-index: 100;
}
.record .record-content .filter .days.active .items ul,
.record .record-content .filter .pages.active .items ul {
  max-height: 13em;
}
.record .record-content .filter .days.active .items ul::-webkit-scrollbar,
.record .record-content .filter .pages.active .items ul::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
}
.record .record-content .filter .days.active .items ul::-webkit-scrollbar-track,
.record .record-content .filter .pages.active .items ul::-webkit-scrollbar-track {
  background-color: #353535;
  border-radius: 2px;
}
.record .record-content .filter .days.active .items ul::-webkit-scrollbar-thumb,
.record .record-content .filter .pages.active .items ul::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 2px;
}
.record .record-content .filter .pages.active .items ul {
  overflow-y: auto;
}
.record .record-content .filter .status {
  display: none;
}
.record .record-content .filter .status img {
  display: inline-block;
  margin-left: 4px;
  transition: all 0.5s;
  transform: translateY(-1px);
}
.record .record-content .filter .status img:hover {
  filter: brightness(130%);
}
.record .record-content table {
  width: 100%;
  display: none;
}
.record .record-content table.active {
  display: table;
}
.record .record-content table thead {
  margin-bottom: 16px;
}
.record .record-content table thead tr th {
  text-align: left;
  padding: 8px;
  background-color: #1F1F1F;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 400;
}
.record .record-content table thead tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-left: 24px;
}
.record .record-content table thead tr th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.record .record-content table thead tr th img {
  display: inline-block;
  margin-left: 4px;
  transform: translateY(-1px);
  transition: all 0.5s;
}
.record .record-content table thead tr th img:hover {
  filter: brightness(120%);
}
.record .record-content table tbody tr.win td.title-name, .record .record-content table tbody tr.win td.title-price, .record .record-content table tbody tr.win td.title-total {
  color: #AAF3F5;
}
.record .record-content table tbody tr td {
  height: 52px;
  color: #EFEFEF;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 8px;
}
.record .record-content table tbody tr td img {
  display: inline-block;
  width: 20px;
  margin-right: 6px;
  transform: translateY(-2px);
}
.record .record-content table tbody tr td a {
  color: #BDBDBD;
  text-decoration: underline;
}
.record .record-content table tbody tr td a:hover {
  color: #898989;
}
.record .record-content table tbody tr td .currency {
  display: inline-block;
  font-size: 14px;
}
.record .record-content table tbody tr td.title-price, .record .record-content table tbody tr td.title-price-plus, .record .record-content table tbody tr td.title-fee, .record .record-content table tbody tr td.title-total, .record .record-content table tbody tr td.title-benefit {
  width: 120px;
  word-break: break-all;
}
.record .record-content table tbody tr td.title-number {
  width: 48px;
}
.record .record-content table tbody tr td.title-fee {
  min-width: 86px;
}
.record .record-content table tbody tr td.title-status {
  min-width: 76px;
}
.record .record-content table tbody tr td:first-child {
  padding-left: 24px;
}
.record .record-content table tbody tr:first-child td {
  padding-top: 32px;
}

#win--popUp .popUp--content img,
#fail--popUp .popUp--content img {
  border-radius: 8px;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}
#win--popUp .button,
#fail--popUp .button {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  margin-top: 28px;
}

.win_ribbon canvas {
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.win_ribbon .btn-win {
  display: none;
}

.fail_ribbon {
  position: relative;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
  transform: translateX(-8%);
}
.fail_ribbon [class|=confetti] {
  position: absolute;
}
.fail_ribbon .confetti-0 {
  width: 3px;
  height: 1.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 4%;
  opacity: 1.4345896594;
  transform: rotate(119.0675084917deg);
  -webkit-animation: drop-0 4.8575100156s 0.0339607632s;
          animation: drop-0 4.8575100156s 0.0339607632s;
}
@-webkit-keyframes drop-0 {
  100% {
    top: 110%;
    left: 14%;
    opacity: 0;
  }
}
@keyframes drop-0 {
  100% {
    top: 110%;
    left: 14%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-1 {
  width: 5px;
  height: 2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 33%;
  opacity: 0.9985044869;
  transform: rotate(322.6902233397deg);
  -webkit-animation: drop-1 4.3932391397s 0.0336548729s;
          animation: drop-1 4.3932391397s 0.0336548729s;
}
@-webkit-keyframes drop-1 {
  100% {
    top: 110%;
    left: 43%;
    opacity: 0;
  }
}
@keyframes drop-1 {
  100% {
    top: 110%;
    left: 43%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-2 {
  width: 6px;
  height: 2.4px;
  background-color: #898989;
  top: -10%;
  left: 97%;
  opacity: 0.8846830259;
  transform: rotate(168.9742011318deg);
  -webkit-animation: drop-2 4.0484985217s 0.3564706068s;
          animation: drop-2 4.0484985217s 0.3564706068s;
}
@-webkit-keyframes drop-2 {
  100% {
    top: 110%;
    left: 109%;
    opacity: 0;
  }
}
@keyframes drop-2 {
  100% {
    top: 110%;
    left: 109%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-3 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 41%;
  opacity: 0.5454828278;
  transform: rotate(108.1576521825deg);
  -webkit-animation: drop-3 4.3156725278s 0.6553290765s;
          animation: drop-3 4.3156725278s 0.6553290765s;
}
@-webkit-keyframes drop-3 {
  100% {
    top: 110%;
    left: 53%;
    opacity: 0;
  }
}
@keyframes drop-3 {
  100% {
    top: 110%;
    left: 53%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-4 {
  width: 3px;
  height: 1.2px;
  background-color: #898989;
  top: -10%;
  left: 56%;
  opacity: 0.7078725173;
  transform: rotate(271.0832874784deg);
  -webkit-animation: drop-4 4.3983318284s 0.9123156428s;
          animation: drop-4 4.3983318284s 0.9123156428s;
}
@-webkit-keyframes drop-4 {
  100% {
    top: 110%;
    left: 61%;
    opacity: 0;
  }
}
@keyframes drop-4 {
  100% {
    top: 110%;
    left: 61%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-5 {
  width: 2px;
  height: 0.8px;
  background-color: #898989;
  top: -10%;
  left: 28%;
  opacity: 0.8595314209;
  transform: rotate(189.3934973218deg);
  -webkit-animation: drop-5 4.4393552145s 0.6723541444s;
          animation: drop-5 4.4393552145s 0.6723541444s;
}
@-webkit-keyframes drop-5 {
  100% {
    top: 110%;
    left: 32%;
    opacity: 0;
  }
}
@keyframes drop-5 {
  100% {
    top: 110%;
    left: 32%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-6 {
  width: 2px;
  height: 0.8px;
  background-color: #353535;
  top: -10%;
  left: 71%;
  opacity: 1.1135521207;
  transform: rotate(202.4058478223deg);
  -webkit-animation: drop-6 4.4045768331s 0.2384204666s;
          animation: drop-6 4.4045768331s 0.2384204666s;
}
@-webkit-keyframes drop-6 {
  100% {
    top: 110%;
    left: 82%;
    opacity: 0;
  }
}
@keyframes drop-6 {
  100% {
    top: 110%;
    left: 82%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-7 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 68%;
  opacity: 1.3362792635;
  transform: rotate(168.9985337629deg);
  -webkit-animation: drop-7 4.1703313019s 0.8104632631s;
          animation: drop-7 4.1703313019s 0.8104632631s;
}
@-webkit-keyframes drop-7 {
  100% {
    top: 110%;
    left: 79%;
    opacity: 0;
  }
}
@keyframes drop-7 {
  100% {
    top: 110%;
    left: 79%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-8 {
  width: 5px;
  height: 2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 89%;
  opacity: 0.8104220243;
  transform: rotate(218.6717119847deg);
  -webkit-animation: drop-8 4.004122118s 0.3521111907s;
          animation: drop-8 4.004122118s 0.3521111907s;
}
@-webkit-keyframes drop-8 {
  100% {
    top: 110%;
    left: 96%;
    opacity: 0;
  }
}
@keyframes drop-8 {
  100% {
    top: 110%;
    left: 96%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-9 {
  width: 5px;
  height: 2px;
  background-color: #353535;
  top: -10%;
  left: 3%;
  opacity: 0.9159764297;
  transform: rotate(349.5416422339deg);
  -webkit-animation: drop-9 4.1670447254s 0.4777171202s;
          animation: drop-9 4.1670447254s 0.4777171202s;
}
@-webkit-keyframes drop-9 {
  100% {
    top: 110%;
    left: 5%;
    opacity: 0;
  }
}
@keyframes drop-9 {
  100% {
    top: 110%;
    left: 5%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-10 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 1%;
  opacity: 0.634182304;
  transform: rotate(48.5897683172deg);
  -webkit-animation: drop-10 4.6645742259s 0.2277714847s;
          animation: drop-10 4.6645742259s 0.2277714847s;
}
@-webkit-keyframes drop-10 {
  100% {
    top: 110%;
    left: 3%;
    opacity: 0;
  }
}
@keyframes drop-10 {
  100% {
    top: 110%;
    left: 3%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-11 {
  width: 4px;
  height: 1.6px;
  background-color: #898989;
  top: -10%;
  left: 2%;
  opacity: 0.5338245514;
  transform: rotate(311.7988887478deg);
  -webkit-animation: drop-11 4.2703847364s 0.8440132442s;
          animation: drop-11 4.2703847364s 0.8440132442s;
}
@-webkit-keyframes drop-11 {
  100% {
    top: 110%;
    left: 7%;
    opacity: 0;
  }
}
@keyframes drop-11 {
  100% {
    top: 110%;
    left: 7%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-12 {
  width: 4px;
  height: 1.6px;
  background-color: #353535;
  top: -10%;
  left: 9%;
  opacity: 1.0870861343;
  transform: rotate(66.8978840452deg);
  -webkit-animation: drop-12 4.5734122s 0.7763438802s;
          animation: drop-12 4.5734122s 0.7763438802s;
}
@-webkit-keyframes drop-12 {
  100% {
    top: 110%;
    left: 23%;
    opacity: 0;
  }
}
@keyframes drop-12 {
  100% {
    top: 110%;
    left: 23%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-13 {
  width: 7px;
  height: 2.8px;
  background-color: #353535;
  top: -10%;
  left: 7%;
  opacity: 0.5421959348;
  transform: rotate(163.6617156658deg);
  -webkit-animation: drop-13 4.1267904485s 0.2653740756s;
          animation: drop-13 4.1267904485s 0.2653740756s;
}
@-webkit-keyframes drop-13 {
  100% {
    top: 110%;
    left: 12%;
    opacity: 0;
  }
}
@keyframes drop-13 {
  100% {
    top: 110%;
    left: 12%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-14 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 14%;
  opacity: 0.9601171785;
  transform: rotate(124.5310100087deg);
  -webkit-animation: drop-14 4.3066314921s 0.6128503727s;
          animation: drop-14 4.3066314921s 0.6128503727s;
}
@-webkit-keyframes drop-14 {
  100% {
    top: 110%;
    left: 16%;
    opacity: 0;
  }
}
@keyframes drop-14 {
  100% {
    top: 110%;
    left: 16%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-15 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 43%;
  opacity: 0.75559177;
  transform: rotate(186.7260549439deg);
  -webkit-animation: drop-15 4.3350913005s 0.5218022264s;
          animation: drop-15 4.3350913005s 0.5218022264s;
}
@-webkit-keyframes drop-15 {
  100% {
    top: 110%;
    left: 55%;
    opacity: 0;
  }
}
@keyframes drop-15 {
  100% {
    top: 110%;
    left: 55%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-16 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 68%;
  opacity: 0.7112064251;
  transform: rotate(186.9816592485deg);
  -webkit-animation: drop-16 4.2674612955s 0.7330350257s;
          animation: drop-16 4.2674612955s 0.7330350257s;
}
@-webkit-keyframes drop-16 {
  100% {
    top: 110%;
    left: 81%;
    opacity: 0;
  }
}
@keyframes drop-16 {
  100% {
    top: 110%;
    left: 81%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-17 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 33%;
  opacity: 1.228923727;
  transform: rotate(211.0323824415deg);
  -webkit-animation: drop-17 4.5519737759s 0.096367361s;
          animation: drop-17 4.5519737759s 0.096367361s;
}
@-webkit-keyframes drop-17 {
  100% {
    top: 110%;
    left: 40%;
    opacity: 0;
  }
}
@keyframes drop-17 {
  100% {
    top: 110%;
    left: 40%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-18 {
  width: 5px;
  height: 2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 14%;
  opacity: 0.7245098074;
  transform: rotate(8.9655972896deg);
  -webkit-animation: drop-18 4.8926844427s 0.2829826673s;
          animation: drop-18 4.8926844427s 0.2829826673s;
}
@-webkit-keyframes drop-18 {
  100% {
    top: 110%;
    left: 18%;
    opacity: 0;
  }
}
@keyframes drop-18 {
  100% {
    top: 110%;
    left: 18%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-19 {
  width: 3px;
  height: 1.2px;
  background-color: #898989;
  top: -10%;
  left: 5%;
  opacity: 0.5720785402;
  transform: rotate(127.4498962729deg);
  -webkit-animation: drop-19 4.4930954235s 0.7953413646s;
          animation: drop-19 4.4930954235s 0.7953413646s;
}
@-webkit-keyframes drop-19 {
  100% {
    top: 110%;
    left: 14%;
    opacity: 0;
  }
}
@keyframes drop-19 {
  100% {
    top: 110%;
    left: 14%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-20 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 48%;
  opacity: 1.2677728297;
  transform: rotate(218.2027948573deg);
  -webkit-animation: drop-20 4.224937725s 0.7857219482s;
          animation: drop-20 4.224937725s 0.7857219482s;
}
@-webkit-keyframes drop-20 {
  100% {
    top: 110%;
    left: 60%;
    opacity: 0;
  }
}
@keyframes drop-20 {
  100% {
    top: 110%;
    left: 60%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-21 {
  width: 1px;
  height: 0.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 63%;
  opacity: 1.3367040122;
  transform: rotate(201.1570350837deg);
  -webkit-animation: drop-21 4.6733975361s 0.8088209538s;
          animation: drop-21 4.6733975361s 0.8088209538s;
}
@-webkit-keyframes drop-21 {
  100% {
    top: 110%;
    left: 77%;
    opacity: 0;
  }
}
@keyframes drop-21 {
  100% {
    top: 110%;
    left: 77%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-22 {
  width: 8px;
  height: 3.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 57%;
  opacity: 1.1957303936;
  transform: rotate(213.3934113751deg);
  -webkit-animation: drop-22 4.7788733108s 0.4844962567s;
          animation: drop-22 4.7788733108s 0.4844962567s;
}
@-webkit-keyframes drop-22 {
  100% {
    top: 110%;
    left: 60%;
    opacity: 0;
  }
}
@keyframes drop-22 {
  100% {
    top: 110%;
    left: 60%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-23 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 41%;
  opacity: 0.9690483851;
  transform: rotate(145.3205258357deg);
  -webkit-animation: drop-23 4.7619932724s 0.4017153692s;
          animation: drop-23 4.7619932724s 0.4017153692s;
}
@-webkit-keyframes drop-23 {
  100% {
    top: 110%;
    left: 44%;
    opacity: 0;
  }
}
@keyframes drop-23 {
  100% {
    top: 110%;
    left: 44%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-24 {
  width: 2px;
  height: 0.8px;
  background-color: #898989;
  top: -10%;
  left: 54%;
  opacity: 0.8936078791;
  transform: rotate(229.8319104178deg);
  -webkit-animation: drop-24 4.0014766193s 0.7328789349s;
          animation: drop-24 4.0014766193s 0.7328789349s;
}
@-webkit-keyframes drop-24 {
  100% {
    top: 110%;
    left: 55%;
    opacity: 0;
  }
}
@keyframes drop-24 {
  100% {
    top: 110%;
    left: 55%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-25 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 16%;
  opacity: 0.7695392121;
  transform: rotate(80.0898330491deg);
  -webkit-animation: drop-25 4.2583092748s 0.3878961921s;
          animation: drop-25 4.2583092748s 0.3878961921s;
}
@-webkit-keyframes drop-25 {
  100% {
    top: 110%;
    left: 27%;
    opacity: 0;
  }
}
@keyframes drop-25 {
  100% {
    top: 110%;
    left: 27%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-26 {
  width: 2px;
  height: 0.8px;
  background-color: #898989;
  top: -10%;
  left: 13%;
  opacity: 0.699084014;
  transform: rotate(37.8841446148deg);
  -webkit-animation: drop-26 4.3613997048s 0.3042496497s;
          animation: drop-26 4.3613997048s 0.3042496497s;
}
@-webkit-keyframes drop-26 {
  100% {
    top: 110%;
    left: 18%;
    opacity: 0;
  }
}
@keyframes drop-26 {
  100% {
    top: 110%;
    left: 18%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-27 {
  width: 1px;
  height: 0.4px;
  background-color: #353535;
  top: -10%;
  left: 86%;
  opacity: 0.6287548084;
  transform: rotate(199.4612784012deg);
  -webkit-animation: drop-27 4.8034563514s 0.3554067735s;
          animation: drop-27 4.8034563514s 0.3554067735s;
}
@-webkit-keyframes drop-27 {
  100% {
    top: 110%;
    left: 101%;
    opacity: 0;
  }
}
@keyframes drop-27 {
  100% {
    top: 110%;
    left: 101%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-28 {
  width: 1px;
  height: 0.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 72%;
  opacity: 1.2726567593;
  transform: rotate(276.9439116005deg);
  -webkit-animation: drop-28 4.9643782339s 0.833166707s;
          animation: drop-28 4.9643782339s 0.833166707s;
}
@-webkit-keyframes drop-28 {
  100% {
    top: 110%;
    left: 86%;
    opacity: 0;
  }
}
@keyframes drop-28 {
  100% {
    top: 110%;
    left: 86%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-29 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 61%;
  opacity: 0.83763586;
  transform: rotate(112.1089058304deg);
  -webkit-animation: drop-29 4.9991481184s 0.6435217954s;
          animation: drop-29 4.9991481184s 0.6435217954s;
}
@-webkit-keyframes drop-29 {
  100% {
    top: 110%;
    left: 71%;
    opacity: 0;
  }
}
@keyframes drop-29 {
  100% {
    top: 110%;
    left: 71%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-30 {
  width: 8px;
  height: 3.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 96%;
  opacity: 0.8980983923;
  transform: rotate(358.698140906deg);
  -webkit-animation: drop-30 4.3893568227s 0.025412273s;
          animation: drop-30 4.3893568227s 0.025412273s;
}
@-webkit-keyframes drop-30 {
  100% {
    top: 110%;
    left: 110%;
    opacity: 0;
  }
}
@keyframes drop-30 {
  100% {
    top: 110%;
    left: 110%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-31 {
  width: 5px;
  height: 2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 76%;
  opacity: 0.6035684977;
  transform: rotate(139.0938501548deg);
  -webkit-animation: drop-31 4.4300040111s 0.9974399748s;
          animation: drop-31 4.4300040111s 0.9974399748s;
}
@-webkit-keyframes drop-31 {
  100% {
    top: 110%;
    left: 87%;
    opacity: 0;
  }
}
@keyframes drop-31 {
  100% {
    top: 110%;
    left: 87%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-32 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 27%;
  opacity: 1.1035991491;
  transform: rotate(323.4033718531deg);
  -webkit-animation: drop-32 4.6223937125s 0.3424048634s;
          animation: drop-32 4.6223937125s 0.3424048634s;
}
@-webkit-keyframes drop-32 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
@keyframes drop-32 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-33 {
  width: 8px;
  height: 3.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 94%;
  opacity: 1.0520023775;
  transform: rotate(152.140647606deg);
  -webkit-animation: drop-33 4.0076320025s 0.2661237912s;
          animation: drop-33 4.0076320025s 0.2661237912s;
}
@-webkit-keyframes drop-33 {
  100% {
    top: 110%;
    left: 98%;
    opacity: 0;
  }
}
@keyframes drop-33 {
  100% {
    top: 110%;
    left: 98%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-34 {
  width: 3px;
  height: 1.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 36%;
  opacity: 0.8576209028;
  transform: rotate(265.8062267827deg);
  -webkit-animation: drop-34 4.9177033959s 0.9607404033s;
          animation: drop-34 4.9177033959s 0.9607404033s;
}
@-webkit-keyframes drop-34 {
  100% {
    top: 110%;
    left: 47%;
    opacity: 0;
  }
}
@keyframes drop-34 {
  100% {
    top: 110%;
    left: 47%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-35 {
  width: 5px;
  height: 2px;
  background-color: #898989;
  top: -10%;
  left: 20%;
  opacity: 0.6343507312;
  transform: rotate(255.1588766207deg);
  -webkit-animation: drop-35 4.7440287068s 0.1357962088s;
          animation: drop-35 4.7440287068s 0.1357962088s;
}
@-webkit-keyframes drop-35 {
  100% {
    top: 110%;
    left: 23%;
    opacity: 0;
  }
}
@keyframes drop-35 {
  100% {
    top: 110%;
    left: 23%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-36 {
  width: 2px;
  height: 0.8px;
  background-color: #353535;
  top: -10%;
  left: 50%;
  opacity: 1.0694050185;
  transform: rotate(222.6273947478deg);
  -webkit-animation: drop-36 4.4368579836s 0.5005850129s;
          animation: drop-36 4.4368579836s 0.5005850129s;
}
@-webkit-keyframes drop-36 {
  100% {
    top: 110%;
    left: 61%;
    opacity: 0;
  }
}
@keyframes drop-36 {
  100% {
    top: 110%;
    left: 61%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-37 {
  width: 3px;
  height: 1.2px;
  background-color: #353535;
  top: -10%;
  left: 9%;
  opacity: 0.709469673;
  transform: rotate(86.8961092227deg);
  -webkit-animation: drop-37 4.9810521544s 0.6199058706s;
          animation: drop-37 4.9810521544s 0.6199058706s;
}
@-webkit-keyframes drop-37 {
  100% {
    top: 110%;
    left: 20%;
    opacity: 0;
  }
}
@keyframes drop-37 {
  100% {
    top: 110%;
    left: 20%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-38 {
  width: 6px;
  height: 2.4px;
  background-color: #353535;
  top: -10%;
  left: 44%;
  opacity: 0.7367244765;
  transform: rotate(108.7810188868deg);
  -webkit-animation: drop-38 4.9063434125s 0.405858965s;
          animation: drop-38 4.9063434125s 0.405858965s;
}
@-webkit-keyframes drop-38 {
  100% {
    top: 110%;
    left: 46%;
    opacity: 0;
  }
}
@keyframes drop-38 {
  100% {
    top: 110%;
    left: 46%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-39 {
  width: 5px;
  height: 2px;
  background-color: #898989;
  top: -10%;
  left: 39%;
  opacity: 0.9872996889;
  transform: rotate(230.4731497683deg);
  -webkit-animation: drop-39 4.7087543505s 0.9611961695s;
          animation: drop-39 4.7087543505s 0.9611961695s;
}
@-webkit-keyframes drop-39 {
  100% {
    top: 110%;
    left: 50%;
    opacity: 0;
  }
}
@keyframes drop-39 {
  100% {
    top: 110%;
    left: 50%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-40 {
  width: 1px;
  height: 0.4px;
  background-color: #898989;
  top: -10%;
  left: 93%;
  opacity: 1.189623843;
  transform: rotate(322.5605697604deg);
  -webkit-animation: drop-40 4.8330398205s 0.3071562641s;
          animation: drop-40 4.8330398205s 0.3071562641s;
}
@-webkit-keyframes drop-40 {
  100% {
    top: 110%;
    left: 107%;
    opacity: 0;
  }
}
@keyframes drop-40 {
  100% {
    top: 110%;
    left: 107%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-41 {
  width: 2px;
  height: 0.8px;
  background-color: #898989;
  top: -10%;
  left: 41%;
  opacity: 0.8392521764;
  transform: rotate(65.0844606244deg);
  -webkit-animation: drop-41 4.7801106866s 0.1306842307s;
          animation: drop-41 4.7801106866s 0.1306842307s;
}
@-webkit-keyframes drop-41 {
  100% {
    top: 110%;
    left: 50%;
    opacity: 0;
  }
}
@keyframes drop-41 {
  100% {
    top: 110%;
    left: 50%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-42 {
  width: 6px;
  height: 2.4px;
  background-color: #898989;
  top: -10%;
  left: 33%;
  opacity: 1.3437982049;
  transform: rotate(266.2644257047deg);
  -webkit-animation: drop-42 4.0534091485s 0.0020221102s;
          animation: drop-42 4.0534091485s 0.0020221102s;
}
@-webkit-keyframes drop-42 {
  100% {
    top: 110%;
    left: 48%;
    opacity: 0;
  }
}
@keyframes drop-42 {
  100% {
    top: 110%;
    left: 48%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-43 {
  width: 3px;
  height: 1.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 32%;
  opacity: 1.0335301266;
  transform: rotate(286.6730797669deg);
  -webkit-animation: drop-43 4.0595233796s 0.0442622675s;
          animation: drop-43 4.0595233796s 0.0442622675s;
}
@-webkit-keyframes drop-43 {
  100% {
    top: 110%;
    left: 44%;
    opacity: 0;
  }
}
@keyframes drop-43 {
  100% {
    top: 110%;
    left: 44%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-44 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 41%;
  opacity: 1.4386035071;
  transform: rotate(29.3687009015deg);
  -webkit-animation: drop-44 4.7858518574s 0.800360926s;
          animation: drop-44 4.7858518574s 0.800360926s;
}
@-webkit-keyframes drop-44 {
  100% {
    top: 110%;
    left: 48%;
    opacity: 0;
  }
}
@keyframes drop-44 {
  100% {
    top: 110%;
    left: 48%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-45 {
  width: 1px;
  height: 0.4px;
  background-color: #353535;
  top: -10%;
  left: 95%;
  opacity: 0.8146220734;
  transform: rotate(247.6870219162deg);
  -webkit-animation: drop-45 4.2719842964s 0.9332797655s;
          animation: drop-45 4.2719842964s 0.9332797655s;
}
@-webkit-keyframes drop-45 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
@keyframes drop-45 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-46 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 84%;
  opacity: 0.9994463782;
  transform: rotate(353.5157684418deg);
  -webkit-animation: drop-46 4.8762386315s 0.2208179402s;
          animation: drop-46 4.8762386315s 0.2208179402s;
}
@-webkit-keyframes drop-46 {
  100% {
    top: 110%;
    left: 93%;
    opacity: 0;
  }
}
@keyframes drop-46 {
  100% {
    top: 110%;
    left: 93%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-47 {
  width: 1px;
  height: 0.4px;
  background-color: #353535;
  top: -10%;
  left: 92%;
  opacity: 0.652233258;
  transform: rotate(49.6918508769deg);
  -webkit-animation: drop-47 4.8819132915s 0.144602645s;
          animation: drop-47 4.8819132915s 0.144602645s;
}
@-webkit-keyframes drop-47 {
  100% {
    top: 110%;
    left: 107%;
    opacity: 0;
  }
}
@keyframes drop-47 {
  100% {
    top: 110%;
    left: 107%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-48 {
  width: 5px;
  height: 2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 100%;
  opacity: 0.9194481227;
  transform: rotate(25.1966947111deg);
  -webkit-animation: drop-48 4.9473021664s 0.8458351176s;
          animation: drop-48 4.9473021664s 0.8458351176s;
}
@-webkit-keyframes drop-48 {
  100% {
    top: 110%;
    left: 105%;
    opacity: 0;
  }
}
@keyframes drop-48 {
  100% {
    top: 110%;
    left: 105%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-49 {
  width: 3px;
  height: 1.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 80%;
  opacity: 0.8720417417;
  transform: rotate(274.8809850465deg);
  -webkit-animation: drop-49 4.3476937736s 0.9205095106s;
          animation: drop-49 4.3476937736s 0.9205095106s;
}
@-webkit-keyframes drop-49 {
  100% {
    top: 110%;
    left: 92%;
    opacity: 0;
  }
}
@keyframes drop-49 {
  100% {
    top: 110%;
    left: 92%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-50 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 88%;
  opacity: 1.4762106271;
  transform: rotate(116.1678428552deg);
  -webkit-animation: drop-50 4.8781005497s 0.0203824897s;
          animation: drop-50 4.8781005497s 0.0203824897s;
}
@-webkit-keyframes drop-50 {
  100% {
    top: 110%;
    left: 97%;
    opacity: 0;
  }
}
@keyframes drop-50 {
  100% {
    top: 110%;
    left: 97%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-51 {
  width: 7px;
  height: 2.8px;
  background-color: #353535;
  top: -10%;
  left: 16%;
  opacity: 0.9783010564;
  transform: rotate(78.6016895586deg);
  -webkit-animation: drop-51 4.5717627852s 0.3930380052s;
          animation: drop-51 4.5717627852s 0.3930380052s;
}
@-webkit-keyframes drop-51 {
  100% {
    top: 110%;
    left: 19%;
    opacity: 0;
  }
}
@keyframes drop-51 {
  100% {
    top: 110%;
    left: 19%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-52 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 85%;
  opacity: 1.2324905821;
  transform: rotate(169.3187144315deg);
  -webkit-animation: drop-52 4.8939751569s 0.5529816231s;
          animation: drop-52 4.8939751569s 0.5529816231s;
}
@-webkit-keyframes drop-52 {
  100% {
    top: 110%;
    left: 93%;
    opacity: 0;
  }
}
@keyframes drop-52 {
  100% {
    top: 110%;
    left: 93%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-53 {
  width: 1px;
  height: 0.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 45%;
  opacity: 1.4918525616;
  transform: rotate(4.0839652648deg);
  -webkit-animation: drop-53 4.2210290169s 0.7723704575s;
          animation: drop-53 4.2210290169s 0.7723704575s;
}
@-webkit-keyframes drop-53 {
  100% {
    top: 110%;
    left: 56%;
    opacity: 0;
  }
}
@keyframes drop-53 {
  100% {
    top: 110%;
    left: 56%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-54 {
  width: 8px;
  height: 3.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 25%;
  opacity: 1.0128155127;
  transform: rotate(84.1193105363deg);
  -webkit-animation: drop-54 4.9765502519s 0.7035819842s;
          animation: drop-54 4.9765502519s 0.7035819842s;
}
@-webkit-keyframes drop-54 {
  100% {
    top: 110%;
    left: 39%;
    opacity: 0;
  }
}
@keyframes drop-54 {
  100% {
    top: 110%;
    left: 39%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-55 {
  width: 5px;
  height: 2px;
  background-color: #898989;
  top: -10%;
  left: 92%;
  opacity: 1.3859215232;
  transform: rotate(325.3011278711deg);
  -webkit-animation: drop-55 4.7325106552s 0.2856327397s;
          animation: drop-55 4.7325106552s 0.2856327397s;
}
@-webkit-keyframes drop-55 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
@keyframes drop-55 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-56 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 22%;
  opacity: 1.3457645618;
  transform: rotate(267.8389009767deg);
  -webkit-animation: drop-56 4.0299315906s 0.6611254294s;
          animation: drop-56 4.0299315906s 0.6611254294s;
}
@-webkit-keyframes drop-56 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
@keyframes drop-56 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-57 {
  width: 3px;
  height: 1.2px;
  background-color: #353535;
  top: -10%;
  left: 98%;
  opacity: 1.3518262;
  transform: rotate(28.6144840184deg);
  -webkit-animation: drop-57 4.94358626s 0.4068856901s;
          animation: drop-57 4.94358626s 0.4068856901s;
}
@-webkit-keyframes drop-57 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
@keyframes drop-57 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-58 {
  width: 8px;
  height: 3.2px;
  background-color: #898989;
  top: -10%;
  left: 59%;
  opacity: 1.1071113889;
  transform: rotate(262.0776450241deg);
  -webkit-animation: drop-58 4.2791470765s 0.9278225976s;
          animation: drop-58 4.2791470765s 0.9278225976s;
}
@-webkit-keyframes drop-58 {
  100% {
    top: 110%;
    left: 66%;
    opacity: 0;
  }
}
@keyframes drop-58 {
  100% {
    top: 110%;
    left: 66%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-59 {
  width: 1px;
  height: 0.4px;
  background-color: #353535;
  top: -10%;
  left: 63%;
  opacity: 0.7667258226;
  transform: rotate(191.9902878156deg);
  -webkit-animation: drop-59 4.9515906867s 0.6180635566s;
          animation: drop-59 4.9515906867s 0.6180635566s;
}
@-webkit-keyframes drop-59 {
  100% {
    top: 110%;
    left: 69%;
    opacity: 0;
  }
}
@keyframes drop-59 {
  100% {
    top: 110%;
    left: 69%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-60 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 35%;
  opacity: 1.1442016988;
  transform: rotate(43.6307440264deg);
  -webkit-animation: drop-60 4.0442090858s 0.6072807979s;
          animation: drop-60 4.0442090858s 0.6072807979s;
}
@-webkit-keyframes drop-60 {
  100% {
    top: 110%;
    left: 36%;
    opacity: 0;
  }
}
@keyframes drop-60 {
  100% {
    top: 110%;
    left: 36%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-61 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 18%;
  opacity: 0.8392383404;
  transform: rotate(331.1372582736deg);
  -webkit-animation: drop-61 4.5327712548s 0.0714250139s;
          animation: drop-61 4.5327712548s 0.0714250139s;
}
@-webkit-keyframes drop-61 {
  100% {
    top: 110%;
    left: 26%;
    opacity: 0;
  }
}
@keyframes drop-61 {
  100% {
    top: 110%;
    left: 26%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-62 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 59%;
  opacity: 1.3628817542;
  transform: rotate(162.5951056365deg);
  -webkit-animation: drop-62 4.4470900148s 0.3978438661s;
          animation: drop-62 4.4470900148s 0.3978438661s;
}
@-webkit-keyframes drop-62 {
  100% {
    top: 110%;
    left: 73%;
    opacity: 0;
  }
}
@keyframes drop-62 {
  100% {
    top: 110%;
    left: 73%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-63 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 88%;
  opacity: 0.8218634545;
  transform: rotate(196.6553698574deg);
  -webkit-animation: drop-63 4.9819839163s 0.3598836868s;
          animation: drop-63 4.9819839163s 0.3598836868s;
}
@-webkit-keyframes drop-63 {
  100% {
    top: 110%;
    left: 96%;
    opacity: 0;
  }
}
@keyframes drop-63 {
  100% {
    top: 110%;
    left: 96%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-64 {
  width: 1px;
  height: 0.4px;
  background-color: #353535;
  top: -10%;
  left: 89%;
  opacity: 1.416449684;
  transform: rotate(32.8907886188deg);
  -webkit-animation: drop-64 4.1147600266s 0.5525414382s;
          animation: drop-64 4.1147600266s 0.5525414382s;
}
@-webkit-keyframes drop-64 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
@keyframes drop-64 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-65 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 36%;
  opacity: 0.5313989839;
  transform: rotate(31.6524188876deg);
  -webkit-animation: drop-65 4.2078035081s 0.6344233164s;
          animation: drop-65 4.2078035081s 0.6344233164s;
}
@-webkit-keyframes drop-65 {
  100% {
    top: 110%;
    left: 50%;
    opacity: 0;
  }
}
@keyframes drop-65 {
  100% {
    top: 110%;
    left: 50%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-66 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 25%;
  opacity: 0.8252780064;
  transform: rotate(49.6228756984deg);
  -webkit-animation: drop-66 4.445682765s 0.6570428579s;
          animation: drop-66 4.445682765s 0.6570428579s;
}
@-webkit-keyframes drop-66 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
@keyframes drop-66 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-67 {
  width: 5px;
  height: 2px;
  background-color: #898989;
  top: -10%;
  left: 71%;
  opacity: 0.5005154579;
  transform: rotate(292.8685727841deg);
  -webkit-animation: drop-67 4.1064978592s 0.4114932578s;
          animation: drop-67 4.1064978592s 0.4114932578s;
}
@-webkit-keyframes drop-67 {
  100% {
    top: 110%;
    left: 81%;
    opacity: 0;
  }
}
@keyframes drop-67 {
  100% {
    top: 110%;
    left: 81%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-68 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 61%;
  opacity: 0.9943205848;
  transform: rotate(100.4726303941deg);
  -webkit-animation: drop-68 4.9055139861s 0.5070017732s;
          animation: drop-68 4.9055139861s 0.5070017732s;
}
@-webkit-keyframes drop-68 {
  100% {
    top: 110%;
    left: 70%;
    opacity: 0;
  }
}
@keyframes drop-68 {
  100% {
    top: 110%;
    left: 70%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-69 {
  width: 4px;
  height: 1.6px;
  background-color: #353535;
  top: -10%;
  left: 40%;
  opacity: 1.2691298975;
  transform: rotate(319.9402194331deg);
  -webkit-animation: drop-69 4.0987932972s 0.6904523717s;
          animation: drop-69 4.0987932972s 0.6904523717s;
}
@-webkit-keyframes drop-69 {
  100% {
    top: 110%;
    left: 46%;
    opacity: 0;
  }
}
@keyframes drop-69 {
  100% {
    top: 110%;
    left: 46%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-70 {
  width: 1px;
  height: 0.4px;
  background-color: #898989;
  top: -10%;
  left: 44%;
  opacity: 1.3258103698;
  transform: rotate(9.544445036deg);
  -webkit-animation: drop-70 4.4816273073s 0.1388869724s;
          animation: drop-70 4.4816273073s 0.1388869724s;
}
@-webkit-keyframes drop-70 {
  100% {
    top: 110%;
    left: 49%;
    opacity: 0;
  }
}
@keyframes drop-70 {
  100% {
    top: 110%;
    left: 49%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-71 {
  width: 3px;
  height: 1.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 64%;
  opacity: 0.5245728146;
  transform: rotate(294.9319729083deg);
  -webkit-animation: drop-71 4.3332874191s 0.8777224293s;
          animation: drop-71 4.3332874191s 0.8777224293s;
}
@-webkit-keyframes drop-71 {
  100% {
    top: 110%;
    left: 66%;
    opacity: 0;
  }
}
@keyframes drop-71 {
  100% {
    top: 110%;
    left: 66%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-72 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 64%;
  opacity: 0.9341802198;
  transform: rotate(199.1730640868deg);
  -webkit-animation: drop-72 4.1380607792s 0.2838280082s;
          animation: drop-72 4.1380607792s 0.2838280082s;
}
@-webkit-keyframes drop-72 {
  100% {
    top: 110%;
    left: 73%;
    opacity: 0;
  }
}
@keyframes drop-72 {
  100% {
    top: 110%;
    left: 73%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-73 {
  width: 3px;
  height: 1.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 78%;
  opacity: 0.7913688517;
  transform: rotate(92.5901940055deg);
  -webkit-animation: drop-73 4.2309472786s 0.37567128s;
          animation: drop-73 4.2309472786s 0.37567128s;
}
@-webkit-keyframes drop-73 {
  100% {
    top: 110%;
    left: 91%;
    opacity: 0;
  }
}
@keyframes drop-73 {
  100% {
    top: 110%;
    left: 91%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-74 {
  width: 8px;
  height: 3.2px;
  background-color: #898989;
  top: -10%;
  left: 35%;
  opacity: 0.7186780257;
  transform: rotate(301.2160451026deg);
  -webkit-animation: drop-74 4.0562961025s 0.6960026522s;
          animation: drop-74 4.0562961025s 0.6960026522s;
}
@-webkit-keyframes drop-74 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
@keyframes drop-74 {
  100% {
    top: 110%;
    left: 37%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-75 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 91%;
  opacity: 0.7755297438;
  transform: rotate(186.4842795119deg);
  -webkit-animation: drop-75 4.7415328621s 0.8293554695s;
          animation: drop-75 4.7415328621s 0.8293554695s;
}
@-webkit-keyframes drop-75 {
  100% {
    top: 110%;
    left: 104%;
    opacity: 0;
  }
}
@keyframes drop-75 {
  100% {
    top: 110%;
    left: 104%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-76 {
  width: 5px;
  height: 2px;
  background-color: #353535;
  top: -10%;
  left: 16%;
  opacity: 0.7199757445;
  transform: rotate(246.0744737945deg);
  -webkit-animation: drop-76 4.3695195654s 0.2961027304s;
          animation: drop-76 4.3695195654s 0.2961027304s;
}
@-webkit-keyframes drop-76 {
  100% {
    top: 110%;
    left: 27%;
    opacity: 0;
  }
}
@keyframes drop-76 {
  100% {
    top: 110%;
    left: 27%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-77 {
  width: 2px;
  height: 0.8px;
  background-color: #898989;
  top: -10%;
  left: 44%;
  opacity: 1.158273436;
  transform: rotate(116.4455350299deg);
  -webkit-animation: drop-77 4.7435492594s 0.5478849862s;
          animation: drop-77 4.7435492594s 0.5478849862s;
}
@-webkit-keyframes drop-77 {
  100% {
    top: 110%;
    left: 51%;
    opacity: 0;
  }
}
@keyframes drop-77 {
  100% {
    top: 110%;
    left: 51%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-78 {
  width: 6px;
  height: 2.4px;
  background-color: #353535;
  top: -10%;
  left: 37%;
  opacity: 0.934920606;
  transform: rotate(143.4364383108deg);
  -webkit-animation: drop-78 4.0717584011s 0.7360688205s;
          animation: drop-78 4.0717584011s 0.7360688205s;
}
@-webkit-keyframes drop-78 {
  100% {
    top: 110%;
    left: 41%;
    opacity: 0;
  }
}
@keyframes drop-78 {
  100% {
    top: 110%;
    left: 41%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-79 {
  width: 1px;
  height: 0.4px;
  background-color: #898989;
  top: -10%;
  left: 28%;
  opacity: 1.4567645621;
  transform: rotate(176.9647717824deg);
  -webkit-animation: drop-79 4.0770869975s 0.0163171786s;
          animation: drop-79 4.0770869975s 0.0163171786s;
}
@-webkit-keyframes drop-79 {
  100% {
    top: 110%;
    left: 41%;
    opacity: 0;
  }
}
@keyframes drop-79 {
  100% {
    top: 110%;
    left: 41%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-80 {
  width: 6px;
  height: 2.4px;
  background-color: #353535;
  top: -10%;
  left: 9%;
  opacity: 0.9806140725;
  transform: rotate(121.7886144753deg);
  -webkit-animation: drop-80 4.2460237832s 0.5052561654s;
          animation: drop-80 4.2460237832s 0.5052561654s;
}
@-webkit-keyframes drop-80 {
  100% {
    top: 110%;
    left: 24%;
    opacity: 0;
  }
}
@keyframes drop-80 {
  100% {
    top: 110%;
    left: 24%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-81 {
  width: 8px;
  height: 3.2px;
  background-color: #898989;
  top: -10%;
  left: 83%;
  opacity: 1.3864686753;
  transform: rotate(285.0117573937deg);
  -webkit-animation: drop-81 4.0508308584s 0.2117688589s;
          animation: drop-81 4.0508308584s 0.2117688589s;
}
@-webkit-keyframes drop-81 {
  100% {
    top: 110%;
    left: 85%;
    opacity: 0;
  }
}
@keyframes drop-81 {
  100% {
    top: 110%;
    left: 85%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-82 {
  width: 4px;
  height: 1.6px;
  background-color: #BDBDBD;
  top: -10%;
  left: 87%;
  opacity: 1.3726783508;
  transform: rotate(66.6551334117deg);
  -webkit-animation: drop-82 4.3583887423s 0.6368785909s;
          animation: drop-82 4.3583887423s 0.6368785909s;
}
@-webkit-keyframes drop-82 {
  100% {
    top: 110%;
    left: 88%;
    opacity: 0;
  }
}
@keyframes drop-82 {
  100% {
    top: 110%;
    left: 88%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-83 {
  width: 4px;
  height: 1.6px;
  background-color: #353535;
  top: -10%;
  left: 48%;
  opacity: 0.9287693427;
  transform: rotate(188.7573393399deg);
  -webkit-animation: drop-83 4.3585426436s 0.9206805482s;
          animation: drop-83 4.3585426436s 0.9206805482s;
}
@-webkit-keyframes drop-83 {
  100% {
    top: 110%;
    left: 58%;
    opacity: 0;
  }
}
@keyframes drop-83 {
  100% {
    top: 110%;
    left: 58%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-84 {
  width: 2px;
  height: 0.8px;
  background-color: #898989;
  top: -10%;
  left: 52%;
  opacity: 1.0493836215;
  transform: rotate(264.6028105123deg);
  -webkit-animation: drop-84 4.6989411723s 0.3907313844s;
          animation: drop-84 4.6989411723s 0.3907313844s;
}
@-webkit-keyframes drop-84 {
  100% {
    top: 110%;
    left: 61%;
    opacity: 0;
  }
}
@keyframes drop-84 {
  100% {
    top: 110%;
    left: 61%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-85 {
  width: 6px;
  height: 2.4px;
  background-color: #898989;
  top: -10%;
  left: 67%;
  opacity: 0.5128804147;
  transform: rotate(186.121493455deg);
  -webkit-animation: drop-85 4.0749785398s 0.4685422036s;
          animation: drop-85 4.0749785398s 0.4685422036s;
}
@-webkit-keyframes drop-85 {
  100% {
    top: 110%;
    left: 79%;
    opacity: 0;
  }
}
@keyframes drop-85 {
  100% {
    top: 110%;
    left: 79%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-86 {
  width: 3px;
  height: 1.2px;
  background-color: #353535;
  top: -10%;
  left: 59%;
  opacity: 1.126083316;
  transform: rotate(281.2711208567deg);
  -webkit-animation: drop-86 4.5092668431s 0.4594115316s;
          animation: drop-86 4.5092668431s 0.4594115316s;
}
@-webkit-keyframes drop-86 {
  100% {
    top: 110%;
    left: 69%;
    opacity: 0;
  }
}
@keyframes drop-86 {
  100% {
    top: 110%;
    left: 69%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-87 {
  width: 6px;
  height: 2.4px;
  background-color: #BDBDBD;
  top: -10%;
  left: 42%;
  opacity: 0.7243680876;
  transform: rotate(106.9469088964deg);
  -webkit-animation: drop-87 4.4678206457s 0.7749989022s;
          animation: drop-87 4.4678206457s 0.7749989022s;
}
@-webkit-keyframes drop-87 {
  100% {
    top: 110%;
    left: 44%;
    opacity: 0;
  }
}
@keyframes drop-87 {
  100% {
    top: 110%;
    left: 44%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-88 {
  width: 8px;
  height: 3.2px;
  background-color: #BDBDBD;
  top: -10%;
  left: 18%;
  opacity: 0.8100902145;
  transform: rotate(288.5297416549deg);
  -webkit-animation: drop-88 4.454651232s 0.1914139429s;
          animation: drop-88 4.454651232s 0.1914139429s;
}
@-webkit-keyframes drop-88 {
  100% {
    top: 110%;
    left: 21%;
    opacity: 0;
  }
}
@keyframes drop-88 {
  100% {
    top: 110%;
    left: 21%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-89 {
  width: 4px;
  height: 1.6px;
  background-color: #898989;
  top: -10%;
  left: 84%;
  opacity: 1.4724024874;
  transform: rotate(286.5996430642deg);
  -webkit-animation: drop-89 4.500790441s 0.8881038021s;
          animation: drop-89 4.500790441s 0.8881038021s;
}
@-webkit-keyframes drop-89 {
  100% {
    top: 110%;
    left: 89%;
    opacity: 0;
  }
}
@keyframes drop-89 {
  100% {
    top: 110%;
    left: 89%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-90 {
  width: 6px;
  height: 2.4px;
  background-color: #353535;
  top: -10%;
  left: 2%;
  opacity: 1.3205679613;
  transform: rotate(350.7918728927deg);
  -webkit-animation: drop-90 4.2333114226s 0.0853159237s;
          animation: drop-90 4.2333114226s 0.0853159237s;
}
@-webkit-keyframes drop-90 {
  100% {
    top: 110%;
    left: 11%;
    opacity: 0;
  }
}
@keyframes drop-90 {
  100% {
    top: 110%;
    left: 11%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-91 {
  width: 2px;
  height: 0.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 13%;
  opacity: 0.7231669139;
  transform: rotate(351.6217680597deg);
  -webkit-animation: drop-91 4.3194828717s 0.4070514161s;
          animation: drop-91 4.3194828717s 0.4070514161s;
}
@-webkit-keyframes drop-91 {
  100% {
    top: 110%;
    left: 24%;
    opacity: 0;
  }
}
@keyframes drop-91 {
  100% {
    top: 110%;
    left: 24%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-92 {
  width: 1px;
  height: 0.4px;
  background-color: #898989;
  top: -10%;
  left: 18%;
  opacity: 0.7705006206;
  transform: rotate(337.8430724318deg);
  -webkit-animation: drop-92 4.4612265542s 0.8177507331s;
          animation: drop-92 4.4612265542s 0.8177507331s;
}
@-webkit-keyframes drop-92 {
  100% {
    top: 110%;
    left: 21%;
    opacity: 0;
  }
}
@keyframes drop-92 {
  100% {
    top: 110%;
    left: 21%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-93 {
  width: 7px;
  height: 2.8px;
  background-color: #353535;
  top: -10%;
  left: 86%;
  opacity: 1.4634032544;
  transform: rotate(299.1230013664deg);
  -webkit-animation: drop-93 4.5125711715s 0.7878686926s;
          animation: drop-93 4.5125711715s 0.7878686926s;
}
@-webkit-keyframes drop-93 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
@keyframes drop-93 {
  100% {
    top: 110%;
    left: 99%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-94 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 2%;
  opacity: 0.9883165413;
  transform: rotate(129.4077942914deg);
  -webkit-animation: drop-94 4.2760105122s 0.9652658094s;
          animation: drop-94 4.2760105122s 0.9652658094s;
}
@-webkit-keyframes drop-94 {
  100% {
    top: 110%;
    left: 11%;
    opacity: 0;
  }
}
@keyframes drop-94 {
  100% {
    top: 110%;
    left: 11%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-95 {
  width: 8px;
  height: 3.2px;
  background-color: #353535;
  top: -10%;
  left: 72%;
  opacity: 1.3931112029;
  transform: rotate(222.0813840704deg);
  -webkit-animation: drop-95 4.0522978847s 0.8488122568s;
          animation: drop-95 4.0522978847s 0.8488122568s;
}
@-webkit-keyframes drop-95 {
  100% {
    top: 110%;
    left: 73%;
    opacity: 0;
  }
}
@keyframes drop-95 {
  100% {
    top: 110%;
    left: 73%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-96 {
  width: 7px;
  height: 2.8px;
  background-color: #BDBDBD;
  top: -10%;
  left: 23%;
  opacity: 1.2155624503;
  transform: rotate(334.2514187692deg);
  -webkit-animation: drop-96 4.0040159652s 0.0656784756s;
          animation: drop-96 4.0040159652s 0.0656784756s;
}
@-webkit-keyframes drop-96 {
  100% {
    top: 110%;
    left: 33%;
    opacity: 0;
  }
}
@keyframes drop-96 {
  100% {
    top: 110%;
    left: 33%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-97 {
  width: 6px;
  height: 2.4px;
  background-color: #353535;
  top: -10%;
  left: 75%;
  opacity: 0.5259109483;
  transform: rotate(330.4769758718deg);
  -webkit-animation: drop-97 4.914190892s 0.4569355799s;
          animation: drop-97 4.914190892s 0.4569355799s;
}
@-webkit-keyframes drop-97 {
  100% {
    top: 110%;
    left: 80%;
    opacity: 0;
  }
}
@keyframes drop-97 {
  100% {
    top: 110%;
    left: 80%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-98 {
  width: 3px;
  height: 1.2px;
  background-color: #353535;
  top: -10%;
  left: 46%;
  opacity: 0.6535731935;
  transform: rotate(49.0606615876deg);
  -webkit-animation: drop-98 4.3903422832s 0.8230494949s;
          animation: drop-98 4.3903422832s 0.8230494949s;
}
@-webkit-keyframes drop-98 {
  100% {
    top: 110%;
    left: 48%;
    opacity: 0;
  }
}
@keyframes drop-98 {
  100% {
    top: 110%;
    left: 48%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-99 {
  width: 1px;
  height: 0.4px;
  background-color: #898989;
  top: -10%;
  left: 73%;
  opacity: 0.6511159788;
  transform: rotate(163.9739060964deg);
  -webkit-animation: drop-99 4.5185702848s 0.8431383556s;
          animation: drop-99 4.5185702848s 0.8431383556s;
}
@-webkit-keyframes drop-99 {
  100% {
    top: 110%;
    left: 77%;
    opacity: 0;
  }
}
@keyframes drop-99 {
  100% {
    top: 110%;
    left: 77%;
    opacity: 0;
  }
}
.fail_ribbon .confetti-100 {
  width: 1px;
  height: 0.4px;
  background-color: #898989;
  top: -10%;
  left: 3%;
  opacity: 1.3296140363;
  transform: rotate(214.8724972444deg);
  -webkit-animation: drop-100 4.8625432925s 0.0492853264s;
          animation: drop-100 4.8625432925s 0.0492853264s;
}
@-webkit-keyframes drop-100 {
  100% {
    top: 110%;
    left: 12%;
    opacity: 0;
  }
}
@keyframes drop-100 {
  100% {
    top: 110%;
    left: 12%;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .record .record-content .filter .status {
    display: inline;
  }
  .record .record-content table thead {
    display: none;
  }
  .record .record-content table tbody tr {
    background-color: #1F1F1F;
    margin: 0 -20px 12px;
    padding: 12px 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .record .record-content table tbody tr.win td.title-name:before, .record .record-content table tbody tr.win td.title-price:before, .record .record-content table tbody tr.win td.title-total:before {
    color: #BDBDBD;
  }
  .record .record-content table tbody tr td {
    align-items: center;
    height: auto;
    padding: 4px 0;
  }
  .record .record-content table tbody tr td .currency {
    font-weight: 700;
  }
  .record .record-content table tbody tr td.title-time, .record .record-content table tbody tr td.title-trackno {
    flex: calc(50% - 6px);
    border-bottom: 1px solid #353535;
    padding-bottom: 4px;
    color: #898989;
    padding-top: 0 !important;
  }
  .record .record-content table tbody tr td.title-trackno {
    text-align: right;
  }
  .record .record-content table tbody tr td.title-name {
    flex: calc(100% - 84px);
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
  }
  .record .record-content table tbody tr td.title-price, .record .record-content table tbody tr td.title-price-plus, .record .record-content table tbody tr td.title-number, .record .record-content table tbody tr td.title-fee, .record .record-content table tbody tr td.title-total, .record .record-content table tbody tr td.title-benefit {
    order: 2;
    flex: 100%;
    padding: 4px 12px 4px 4em;
    text-align: right;
    color: #BDBDBD;
    position: relative;
    font-weight: 700;
    margin: 2px 0;
  }
  .record .record-content table tbody tr td.title-price:before, .record .record-content table tbody tr td.title-price-plus:before, .record .record-content table tbody tr td.title-number:before, .record .record-content table tbody tr td.title-fee:before, .record .record-content table tbody tr td.title-total:before, .record .record-content table tbody tr td.title-benefit:before {
    position: absolute;
    left: 12px;
    font-weight: 400;
  }
  .record .record-content table tbody tr td.title-price-plus {
    padding: 4px 12px 4px 6.5em;
  }
  .record .record-content table tbody tr td.title-price, .record .record-content table tbody tr td.title-price-plus, .record .record-content table tbody tr td.title-total {
    background-color: #353535;
    border-radius: 8px;
  }
  .record .record-content table tbody tr td.title-price:before {
    content: "單價";
  }
  .record .record-content table tbody tr td.title-price-plus:before {
    content: "單價 (加乘)";
  }
  .record .record-content table tbody tr td.title-number:before {
    content: "數量";
  }
  .record .record-content table tbody tr td.title-fee:before {
    content: "手續費";
  }
  .record .record-content table tbody tr td.title-total:before {
    content: "總價";
  }
  .record .record-content table tbody tr td.title-status {
    flex: auto;
    min-width: auto;
    text-align: right;
    margin: 12px 0 12px 20px;
    align-self: flex-start;
  }
  .record .record-content table tbody tr td:first-child {
    padding-left: 0;
  }
  .record .record-content table tbody tr:first-child td {
    padding-top: 4px;
  }
  .record .record-content table#content-table-3 tbody tr td.title-fee {
    background-color: #353535;
    border-radius: 8px;
  }
  .record .record-content table#content-table-3 tbody tr td.title-benefit:before {
    content: "收益";
  }
}
@media screen and (max-width: 515px) {
  .record h2 {
    padding-top: 12px;
    margin-bottom: 20px;
  }
  .record .record-tab {
    gap: 12px;
  }
  .record .record-tab li {
    font-size: 14px;
  }
  .record .record-content .filter {
    justify-content: flex-start;
    font-size: 14px;
  }
  .record .record-content .filter .days button,
.record .record-content .filter .pages button {
    margin-left: 8px;
  }
}
@media screen and (max-width: 400px) {
  .record .record-content .filter {
    gap: 12px;
  }
}