.gamefi-pass {
  margin-bottom: 64px;
}
.gamefi-pass h2 {
  margin-bottom: 32px;
}
.gamefi-pass ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px 14px;
}
.gamefi-pass ul li {
  flex: calc((100% - 42px) / 4);
  max-width: calc((100% - 42px) / 4);
  border: 1px solid #353535;
  border-radius: 20px;
  transition: all 0.5s;
}
.gamefi-pass ul li a {
  display: inline-block;
  width: 100%;
  padding: 16px 20px;
}
.gamefi-pass ul li a .img {
  width: calc((68rem - 42px) / 4 - 40px - 32px);
  height: calc((68rem - 42px) / 4 - 40px - 32px);
  margin: 40px auto 16px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.gamefi-pass ul li a .img img {
  width: 100%;
  margin: 0 auto;
}
.gamefi-pass ul li a .img .coming_soon,
.gamefi-pass ul li a .img .sold_out {
  position: absolute;
  bottom: 16px;
  left: 50%;
  padding: 4px 12px;
  border-radius: 8px;
  transform: translateX(-50%);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.gamefi-pass ul li a .img .coming_soon {
  background-color: rgba(138, 163, 255, 0.85);
}
.gamefi-pass ul li a .img .sold_out {
  background-color: rgba(224, 128, 131, 0.85);
}
.gamefi-pass ul li a span {
  display: block;
  font-weight: 700;
}
.gamefi-pass ul li a span.name {
  font-size: 16px;
  color: #EFEFEF;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.gamefi-pass ul li a span.fee {
  font-size: 14px;
  color: #8AA3FF;
}
.gamefi-pass ul li a span.usdt {
  font-size: 12px;
  color: #898989;
}
.gamefi-pass ul li:hover {
  transform: translateY(-8px);
}

.props h2 {
  margin-bottom: 32px;
}
.props .prop-tab {
  max-width: 100%;
  overflow-x: auto;
}
.props .prop-tab::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.props .prop-tab::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.props .prop-tab ul {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
  border-bottom: 1px solid #353535;
}
.props .prop-tab ul li {
  font-size: 12px;
  font-weight: 700;
  color: #898989;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}
.props .prop-tab ul li a {
  display: inline-block;
  padding: 12px 16px;
}
.props .prop-tab ul li.active {
  color: #EFEFEF;
  border-color: #8AA3FF;
}
.props .prop-tab ul li:hover {
  color: #EFEFEF;
}
.props .prop-list {
  display: none;
  gap: 24px 14px;
  flex-wrap: wrap;
  align-items: stretch;
}
.props .prop-list li {
  flex: calc((100% - 42px) / 4);
  max-width: calc((100% - 42px) / 4);
  border-radius: 20px;
  border: 1px solid #353535;
  transition: all 0.5s;
  position: relative;
}
.props .prop-list li a {
  display: inline-block;
  padding: 0 20px 16px;
  width: 100%;
}
.props .prop-list li a .img {
  width: calc((68rem - 42px) / 4 - 40px - 32px);
  height: calc((68rem - 42px) / 4 - 40px - 32px);
  margin: 42px auto 16px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.props .prop-list li a .img img {
  width: 100%;
  margin: 0 auto;
}
.props .prop-list li a .img .coming_soon,
.props .prop-list li a .img .sold_out {
  position: absolute;
  bottom: 16px;
  left: 50%;
  padding: 4px 12px;
  border-radius: 8px;
  transform: translateX(-50%);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.props .prop-list li a .img .coming_soon {
  background-color: rgba(138, 163, 255, 0.85);
}
.props .prop-list li a .img .sold_out {
  background-color: rgba(224, 128, 131, 0.85);
}
.props .prop-list li a span {
  display: block;
  font-weight: 700;
}
.props .prop-list li a span.name {
  font-size: 16px;
  color: #EFEFEF;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.props .prop-list li a span.fee {
  font-size: 16px;
  color: #8AA3FF;
  display: flex;
  align-items: center;
  gap: 8px;
}
.props .prop-list li a span.usdt {
  font-size: 12px;
  color: #898989;
}
.props .prop-list li:hover {
  transform: translateY(-8px);
}
.props .prop-list li .limited {
  visibility: hidden;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 0 0 20px;
  font-size: 12px;
  font-weight: 700;
  color: #898989;
}
.props .prop-list li .limited img {
  width: 28px;
}
.props .prop-list li.pass .limited {
  visibility: visible;
}
.props .prop-list.active {
  display: flex;
}

@media screen and (max-width: 515px) {
  .gamefi-pass {
    margin-bottom: 32px;
  }
  .gamefi-pass h2 {
    padding-top: 12px;
    margin-bottom: 20px;
  }
  .gamefi-pass ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .gamefi-pass ul li {
    flex: 100%;
    max-width: 100%;
  }
  .gamefi-pass ul li a img {
    width: 200px;
    margin-top: 44px;
  }
  .props h2 {
    margin-bottom: 12px;
  }
  .props ul.prop-tab {
    gap: 16px;
    justify-content: space-between;
  }
  .props ul.prop-tab li {
    font-size: 14px;
  }
  .props ul.prop-list {
    flex-wrap: wrap;
  }
  .props ul.prop-list li {
    flex: 100%;
    max-width: 100%;
  }
  .props ul.prop-list li a .img {
    width: 200px;
    margin-top: 44px;
  }
  .props ul.prop-list li a .img img {
    width: 100%;
  }
  .props ul.prop-list li a span.fee img {
    width: 20px;
    margin-right: 6px;
    transform: translateY(-2px);
  }
  .props ul.prop-list li.pass {
    /*
    &:after {
        font-size: calc($fontSize * 1.4);
        top: 20px;
    }
    */
  }
  .props ul.prop-list li.pass .limited {
    font-size: 14px;
    padding-top: 20px;
  }
}