@charset "UTF-8";
.gamefi-pass {
  margin-bottom: 64px;
}
.gamefi-pass h2 {
  margin-bottom: 32px;
}
.gamefi-pass ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px 14px;
}
.gamefi-pass ul li {
  flex: calc((100% - 42px) / 4);
  max-width: calc((100% - 42px) / 4);
  border: 1px solid #353535;
  border-radius: 20px;
  transition: all 0.5s;
}
.gamefi-pass ul li a {
  display: inline-block;
  padding: 16px 20px;
}
.gamefi-pass ul li a img {
  width: calc(100% - 32px);
  margin: 40px auto 16px;
}
.gamefi-pass ul li a span {
  display: block;
  font-weight: 700;
}
.gamefi-pass ul li a span.name {
  font-size: 14px;
  color: #EFEFEF;
  margin-bottom: 12px;
}
.gamefi-pass ul li a span.fee {
  font-size: 14px;
  color: #8AA3FF;
}
.gamefi-pass ul li a span.usdt {
  font-size: 12px;
  color: #898989;
}
.gamefi-pass ul li:hover {
  transform: translateY(-10px);
}

.props h2 {
  margin-bottom: 32px;
}
.props ul.prop-tab {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
  border-bottom: 1px solid #353535;
}
.props ul.prop-tab li {
  font-size: 12px;
  font-weight: 700;
  color: #898989;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}
.props ul.prop-tab li a {
  display: inline-block;
  padding: 12px 16px;
}
.props ul.prop-tab li.active {
  color: #EFEFEF;
  border-color: #8AA3FF;
}
.props ul.prop-tab li:hover {
  color: #EFEFEF;
}
.props ul.prop-list {
  display: none;
  gap: 24px 14px;
  flex-wrap: wrap;
  align-items: center;
}
.props ul.prop-list li {
  flex: calc((100% - 42px) / 4);
  max-width: calc((100% - 42px) / 4);
  border-radius: 20px;
  border: 1px solid #353535;
  transition: all 0.5s;
  position: relative;
}
.props ul.prop-list li a {
  display: inline-block;
  padding: 16px 20px;
  width: 100%;
}
.props ul.prop-list li a > img {
  width: calc(100% - 18px);
  margin: 42px auto 16px;
}
.props ul.prop-list li a span {
  display: block;
  font-weight: 700;
}
.props ul.prop-list li a span.name {
  font-size: 14px;
  color: #EFEFEF;
  margin-bottom: 12px;
}
.props ul.prop-list li a span.fee {
  font-size: 16px;
  color: #8AA3FF;
}
.props ul.prop-list li a span.fee img {
  display: inline-block;
  margin-right: 6px;
}
.props ul.prop-list li a span.usdt {
  font-size: 12px;
  color: #898989;
}
.props ul.prop-list li:hover {
  transform: translateY(-10px);
}
.props ul.prop-list li.pass:before {
  content: "";
  background-image: url(../images/icon/icon-pass.svg);
  width: 28px;
  height: 28px;
  background-size: 28px;
  position: absolute;
  top: 16px;
  left: 20px;
}
.props ul.prop-list li.pass::after {
  content: "限定";
  font-size: 12px;
  font-weight: 700;
  color: #898989;
  position: absolute;
  top: 22px;
  left: 56px;
}
.props ul.prop-list.active {
  display: flex;
}

@media screen and (max-width: 515px) {
  .gamefi-pass {
    margin-bottom: 32px;
  }
  .gamefi-pass h2 {
    padding-top: 12px;
    margin-bottom: 20px;
  }
  .gamefi-pass ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .gamefi-pass ul li {
    flex: 100%;
    max-width: 100%;
  }
  .props h2 {
    margin-bottom: 12px;
  }
  .props ul.prop-tab {
    gap: 16px;
    justify-content: space-between;
  }
  .props ul.prop-tab li {
    font-size: 14px;
  }
  .props ul.prop-list {
    flex-wrap: wrap;
  }
  .props ul.prop-list li {
    flex: 100%;
    max-width: 100%;
  }
  .props ul.prop-list li a span.fee img {
    width: 20px;
    margin-right: 6px;
    transform: translateY(-2px);
  }
  .props ul.prop-list li.pass:after {
    font-size: 14px;
    top: 20px;
  }
}