@import "../variable";
.checkout{
    width: 490px;
    margin: 0 auto;
    .product{
        display: flex;
        gap: 20px;
        margin-bottom: 36px;
        .pic{
            flex: 100px;
            border-radius: 8px;
            overflow: hidden;
        }
        .info{
            flex: calc(100% - 120px);
            p{
                margin-bottom: 8px;
                &.title{
                    font-size: calc($fontSize * 1.6);
                    font-weight: $UltraBold;
                }
                .amount{
                    font-size: calc($fontSize * 2.4);
                    font-weight: $UltraBold;
                }
                .currency{
                    font-size: calc($fontSize * 1.8);
                    font-weight: $Medium;
                }
            }
        }
    }
    .payment{
        margin-bottom: 28px;
        label{
            font-size: calc($fontSize * 1.4);
            font-weight: $UltraBold;
        }
        .payment-select{
            li{
                position: relative;
                margin: 12px 0;
                padding: 12px 24px;
                border-radius: 24px;
                border: 1px solid $gray;
                cursor: pointer;
                transition: all .5s;
                &:hover{
                    background-color: rgba($primaryC, .1);
                }
                &[checked]{
                    cursor: default;
                    color: $primaryC;
                    background-color: rgba($primaryC, .2);
                    border-color: $primaryC;
                    &:after{
                        position: absolute;
                        content: url(../images/icon/icon-check.svg);
                        right: 20px;
                    }
                }
            }
        }
        .desc{
            color: $lighter;
        }
    }
    form{
        .title{
            font-size: calc($fontSize * 1.4);
            font-weight: $UltraBold;
            margin-bottom: 12px;
            img{
                display: inline-block;
                margin-left: 8px;
                transform: translateY(-1px);
                transition: all .5s;
                &:hover{
                    filter: brightness(130%);
                }
            }
        }
        .checkbox{
            background-color: $dark;
            border-radius: 8px;
            padding: 8px 16px;
            margin-bottom: 20px;
        }
        #invoice{
            display: none;
            &.active{
                display: block;
            }
            .invoice-type{
                display: none;
                flex-wrap: wrap;
                gap: 8px;
                &.show{
                    display: flex;
                }
                .note{
                    font-size: calc($fontSize * 1.4);
                }
                label{
                    flex: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 8px;
                    gap: 4px;
                    span{
                        flex: 100%;
                        display: flex;
                        align-items: center;
                        img{
                            margin-left: 8px;
                            transition: all .5s;
                            &:hover{
                                filter: brightness(130%);
                            }
                        }
                    }
                    input{
                        flex: 100%;
                    }
                }
                #carrier-select{
                    span{
                        color: $lightGray;
                    }
                }
                .carrier-select-content{
                    flex: 100%;
                    display: none;
                    &.show{
                        display: inline;
                        margin-bottom: 12px;
                    }
                }
                #county-select, #city-select{
                    align-self: flex-start;
                    div{
                        z-index: 100;
                        ul{
                            max-height: 15em;
                            overflow-y: auto;
                        }
                    }
                }
                #county-select{
                    flex: 1;
                }
                #city-select{
                    flex: 1.3;
                }
            }
        }
        .agree{
            display: block;
            margin-top: 44px;
            a{
                color: $primaryC;
            }
        }
        input[type=submit]{
            width: 100%;
            margin-top: 10px;
        }
    }
}

#invoiceInfo--popUp{
    p.note{
        font-size: calc($fontSize * 1.4);
        text-align: justify;
        a{
            font-weight: $UltraBold;
            color: $primaryC;
        }
    }
}

@media screen and (max-width: 767px) {
    .checkout{}
} // max-width: 767px