@import "../variable";

main.password-enable{
    width: 490px;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    p {
        margin: 36px auto;
    }

    form {
        .input-group {
            margin-bottom: 36px;

            * {
                margin: 6px 0;
            }
        }

        label {
            position: relative;

            input {
                position: relative;
                width: 100%;
                background-color: transparent;
                height: 44px;
                border-radius: 22px;
                border: 1px solid $dark;
                font-size: calc($fontSize * 1.4);
                padding: 0 24px;
    
                &[type=number] {
                    -moz-appearance: textfield;
    
                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &:after {
                        content: 'BUG';
                        position: absolute;
                        right: 24px;
                        color: $white;
                    }
                }

                &[type=checkbox] {
                    display: none;

                    + span {
                        display: inline-block;
                        padding-left: 26px;
                        line-height: 20px;
                        background-image: url(images/icon/icon-checkbox-normal.svg);
                        background-size: 16px;
                        background-repeat: no-repeat;
                        background-position: left top;
                    }

                    &:checked + span {
                        background: url(images/icon/icon-checkbox-highlight.svg) no-repeat left top;
                    }
                }

                &:focus {
                    border-color: $primaryC;
                    outline: none;
                }

                &[disabled] {
                    background-color: $frameBg !important;
                    font-size: calc($fontSize * 1.4);
                    color: $lighter;
                }
            }

            button, a.button, input[type=submit] {
                position: absolute;
                top: 50%;
                right: 8px;
                width: 94px;
                background-color: $primaryA;
                font-weight: 600;
                font-size: calc($fontSize * 1.2);
                line-height: 22px;
                padding: 4px 12px;
                border-radius: 24px;
                height: 30px;
                text-align: center;

                &:hover {
                    background-color: darken($primaryA, 3%);
                }

                &[disabled] {
                    background: $dark !important;
                }
            }

            .warning {
                color: $warning;
            }
        }

        input {
            &[type=submit] {
                margin: 10px 0;
                background: $gradient;
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 24px;
                font-size: 12px;
                font-weight: 700;
                text-shadow: 0 0 12 rgba(#000000, .5);
                cursor: pointer;

                &:hover {
                    background: $gradient-hover;
                }
            }
        }
    }
}

@media screen and (max-width: 428px) {
main.password-enable{
    width: calc(100vw - 40px);
    margin: 0 auto;
} 
}//max-width: 428px
