@import "../variable";
.gamefi-pass{
    margin-bottom: 64px;
    h2{
        margin-bottom: 32px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px 14px;
        li{
            flex: calc((100% - 42px)/4);
            max-width: calc((100% - 42px)/4);
            border: 1px solid $dark;
            border-radius: 20px;
            transition: all .5s;
            a{
                display: inline-block;
                padding: 16px 20px;
                img{
                    width: calc(100% - 32px);
                    margin: 40px auto 16px;
                    border-radius: 8px;
                }
                span{
                    display: block;
                    font-weight: $UltraBold;
                    &.name{
                        font-size: calc($fontSize * 1.4);
                        color: $lightGray;
                        margin-bottom: 12px;
                    }
                    &.fee{
                        font-size: calc($fontSize * 1.4);
                        color: $primaryC;
                    }
                    &.usdt{
                        font-size: calc($fontSize * 1.2);
                        color: $gray;
                    }
                }
            }
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
}
.props{
    h2{
        margin-bottom: 32px;
    }
    ul{
        &.prop-tab{
            display: flex;
            gap: 20px;
            margin-bottom: 28px;
            border-bottom: 1px solid $dark;
            li{
                font-size: calc($fontSize * 1.2);
                font-weight: $UltraBold;
                color: $gray;
                border-bottom: 3px solid transparent;
                transition: all .5s;
                a{
                    display: inline-block;
                    padding: 12px 16px;
                }
                &.active{
                    color: $lightGray;
                    border-color: $primaryC;
                }
                &:hover{
                    color: $lightGray;
                }
            }
        }
        &.prop-list{
            display: none;
            gap: 24px 14px;
            flex-wrap: wrap;
            align-items: center;
            li{
                flex: calc((100% - 42px)/4);
                max-width: calc((100% - 42px)/4);
                border-radius: 20px;
                border: 1px solid $dark;
                transition: all .5s;
                position: relative;
                a{
                    display: inline-block;
                    padding: 16px 20px;
                    width: 100%;
                    >img{
                        width: calc(100% - 18px);
                        margin: 42px auto 16px;
                    }
                    span{
                        display: block;
                        font-weight: $UltraBold;
                        &.name{
                            font-size: calc($fontSize * 1.4);
                            color: $lightGray;
                            margin-bottom: 12px;
                        }
                        &.fee{
                            font-size: calc($fontSize * 1.6);
                            color: $primaryC;
                            img{
                                display: inline-block;
                                margin-right: 6px;
                            }
                        }
                        &.usdt{
                            font-size: calc($fontSize * 1.2);
                            color: $gray;
                        }
                    }
                }
                &:hover{
                    transform: translateY(-10px);
                }
                &.pass{
                    &:before{
                        content: '';
                        background-image: url(../images/icon/icon-pass.svg);
                        width: 28px;
                        height: 28px;
                        background-size: 28px;
                        position: absolute;
                        top: 16px;
                        left: 20px;
                    }
                    &::after{
                        content: '限定';
                        font-size: calc($fontSize * 1.2);
                        font-weight: $UltraBold;
                        color: $gray;
                        position: absolute;
                        top: 22px;
                        left: 56px;
                    }
                }
            }
            &.active{
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 515px) {
    .gamefi-pass{
        margin-bottom: 32px;
        h2{
            padding-top: 12px;
            margin-bottom: 20px;
        }
        ul{
            flex-wrap: wrap;
            gap: 20px;
            li{
                flex: 100%;
                max-width: 100%;
            }
        }
    }
    .props{
        h2{
            margin-bottom: 12px;
        }
        ul{
            &.prop-tab{
                gap: 16px;
                justify-content: space-between;
                li{
                    font-size: calc($fontSize * 1.4);
                }
            }
            &.prop-list{
                flex-wrap: wrap;
                li{
                    flex: 100%;
                    max-width: 100%;
                    a{
                        span{
                            &.fee{
                                img{
                                    width: 20px;
                                    margin-right: 6px;
                                    transform: translateY(-2px);
                                }
                            }
                        }
                    }
                    &.pass{
                        &:after{
                            font-size: calc($fontSize * 1.4);
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
} // mobile