@import "../variable";

.success-page {
    width: 500px;
    margin: 48px auto 0 auto;

    .message {
        text-align: center;
        margin-bottom: 36px;

        img {
            margin: 0 auto 16px auto;
        }
    
        p {
            font-weight: $UltraBold;
        }
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 20px;
        margin-bottom: 36px;
        border-bottom: solid 0.5px $gray;
        .pic {
            flex: 100px;
            border-radius: 8px;
            overflow: hidden;
        }
        .info {
            flex: calc(100% - 120px);
            p {
                margin-bottom: 8px;
                &.title {
                    font-weight: $UltraBold;
                    font-size: calc($fontSize * 1.4);
                }
            }
            ul {
                font-size: calc($fontSize * 1.2);
                color: $lighter;
                line-height: 1.6;
            }
        }
    }

    .calculate {
        font-size: calc($fontSize * 1.2);
        font-weight: $UltraBold;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 32px;
        ul {
            li {
                margin-bottom: 8px;
                img {
                    display: inline-block;
                    transform: translateY(-4px);
                    width: 20px;
                    margin-right: 6px;
                }
            }
        }
    }

    .card {
        background-color: $dark;
        background-image: url(../images/product/qrc-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 16px;
        padding: 20px 24px;

        p {
            font-size: calc($fontSize * 1.2);
            margin-top: 12px;
            &:last-child{
                margin-top: 16px;
                font-weight: $UltraBold;
                text-align: right;

                a {
                    text-decoration: none;
                    color: $lightGray;

                    &:hover {
                        color: $lighter;
                    }
                }
            }
        }
    }

    .btns {
        margin-top: 32px;
        display: flex;
        gap: 16px;

        button {
            flex: 1;
        }
    }
}

#download--popUp {
    .popUp--container {
        min-width: 512px;

        .mobile {
            display: none;
        }

        p.desc {
            font-size: calc($fontSize * 1.4);
            color: $lighter;
        }

        .qrc {
            max-width: 120px;
            margin: 28px auto;
        }

        .btns {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 12px;

            button {
                flex: 100%;
                max-width: 280px;
                height: 44px;
                background-color: $primaryC;
                transition: all .5s;
                font-size: calc($fontSize * 1.4);
                font-weight: $UltraBold;
                
                &:hover {
                    background-color: #7087D8;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .success-page {
        max-width: 90vw;
    }
} // max-width: 767px