@import "../variable";

main.withdraw{
    width: 490px;
    max-width: calc(100vw - 40px);
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-bottom: 36px;
    }

    a {
        color: $primaryC;
        font-weight: $Bold;
        transition: all .15s ease;

        &:hover {
            color: darken($primaryC, 5);
        }
    }

    form {
        .input-group {
            margin-bottom: 36px;
            position: relative;

            * {
                margin: 6px 0;
            }

            &:first-child:after {
                content: 'BUG';
                position: absolute;
                top: 40px;
                right: 24px;
                color: $white;
            }
        }

        label {
            input {
                position: relative;
                width: 100%;
                background-color: transparent;
                height: 44px;
                border-radius: 22px;
                border: 1px solid $dark;
                font-size: calc($fontSize * 1.4);
                padding: 0 24px;
    
                &[type=number] {
                    padding-right: 5em;
                    -moz-appearance: textfield;
    
                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                &[disabled] {
                    background-color: $frameBg !important;
                    font-size: calc($fontSize * 1.4);
                    color: $lighter !important;
                }
            }
        }

        .agree {
            margin: 6px 0;
        }

        input {
            &[type=submit] {
                margin: 10px 0 28px 0;
                background: $gradient;
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 24px;
                font-size: 12px;
                font-weight: 700;
                text-shadow: 0 0 12 rgba(#000000, .5);
                cursor: pointer;

                &:hover {
                    background: $gradient-hover;
                }

                &[disabled] {
                    background: $dark;
                    cursor: default;
                }
            }
        }
    }

    ul {
        width: 100%;
        list-style-type: none;
        margin-bottom: 36px;

        li {
            display: flex;
            justify-content: space-between;
            margin: 2px 0;
        }

        h4 {
            color: $primaryC;
            font-weight: 700;
            font-size: calc($fontSize * 1.8);
        }
    }
}

#notice--popUp, #privacy--popUp {
    .popUp--container {
        color: $lighter;

        h2 {
            color: $lightGray;
        }

        .content--scroll {
            max-height: 65vh;
            overflow-y: auto;
            padding-right: 10px;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $gray;
                border-radius: 5px;
            }

            p {
                text-align: left;
    
                &.bold {
                    margin-top: 20px;
                }
            }
    
            ol {
                &.list--cht {
                    list-style-type: cjk-ideographic;
                    text-align: left;
                    padding-left: 4em;
                    font-size: calc($fontSize * 1.4);

                    li {
                        padding: 4px 0;
                    }
                }

                &.bracket {
                    list-style-type: none;
                    padding-left: 2.5em;

                    li {
                        text-indent: -3em;
                        padding: 0;
                    }
                }

                &.number {
                    list-style-type: decimal;
                    padding-left: 1.5em;

                    li {
                        text-indent: 0;
                    }
                }
            }
        }
    }
}

#withdraw--popUp {
    form {
        margin: 28px 0 12px 0;

        .flex {
            display: flex;
            justify-content: space-between;
            margin: 6px 0;

            input {
                flex: 1;
                width: 56px;
                height: 56px;
                border-radius: 12px;
                border: 1px solid $gray;
                margin-right: 16px;
                background-color: transparent;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                -moz-appearance: textfield;
    
                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .warning {
                color: $warning;
                font-size: 12px;
                font-weight: 400;
            }
        
            .forgot {
                text-decoration: underline;
                text-align: right;
                color: $lighter;
                font-size: 12px;
                font-weight: 400;
        
                &:hover {
                    color: lighten($lighter, 10%);
                }
            }
        }

        input[type=submit] {
            width: 100%;
            margin-top: 28px;
            background: $gradient;
            height: 40px;
            border-radius: 24px;
            padding: 13px 24px;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            text-shadow: 0 0 12px rgba(#000000, .4);
    
            &:hover {
                background: $gradient-hover;
            }
    
            &[disabled] {
                background: $dark;
                cursor: default;
            }
        }
    }
}

@media screen and (max-width: 515px) { // mobile
    main.withdraw{
        width: calc(100vw - 3.5rem);
        margin: 0 auto;

        form {
            .agree {
                span {
                    font-size: calc($fontSize * 1.4);
                }
            }
        }
    }

    #withdraw--popUp {
        form {
            .flex {
                input {
                    width: calc((100vw - 136px)/6);
                    height: calc((100vw - 136px)/6);
                    margin-right: 8px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &.note {
                    flex-wrap: wrap;

                    .warning, .forgot {
                        flex: 100%;
                        max-width: 100%;
                    }

                    .warning {
                        text-align: left;
                    }

                    .forgot {
                        text-align: right;
                    }
                }
            }
        }
    }
}