@import "../variable";

.popUp {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($darkBg, .88);
    z-index: 1000;

    .popUp--container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: $frameBg;
        color: $lightGray;
        border-radius: 24px;
        border: 1px solid $dark;
        padding: 40px;
        width: 510px;
        max-height: calc(60vh);
        min-height: 300px;

        h2 {
            margin-bottom: 28px;
            text-align: center;
            // padding-right: 40px;
        }

        .content {
            overflow-y: auto;
            padding-right: 10px;
            max-height: calc(60vh - 138px);

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $gray;
                border-radius: 5px;
            }
        }

        .popUp--close {
            position: absolute;
            top: 40px;
            right: 40px;
            background-color: rgba($gray, .3);
            height: 36px;
            width: 36px;
            border-radius: 20px;
            text-align: center;
            transition: all .15s ease;

            img {
                width: 100%;
            }

            &:hover {
                background-color: rgba($gray, .4);
            }
        }

        .popUp--submit {
            display: inline-block;
            height: 44px;
            width: 100%;
            margin-top: 28px;
            border-radius: 20px;
            background: $gradient;
            text-shadow: 0 0 12px rgba(black, .4);
            font-weight: $UltraBold;
            line-height: 44px;

            &:hover {
                background: $gradient-hover;
            }

            &[disabled] {
                background-color: $dark;
                color: $lighter;
            }
        }
    }

    &.active {
        display: block;
    }
}

@media screen and (max-width: 515px) { // mobile
    .popUp {
        .popUp--container {
            width: calc(100vw - 40px);
            min-height: 250px;
            padding: 28px;

            .content {
                max-height: calc(60vh - 110px);
            }

            .popUp--close {
                top: 20px;
                right: 20px;
            }
        }
    }
}