@import "../variable";

.popUp {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($darkBg, .88);
    z-index: 1000;

    .popUp--container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: $frameBg;
        color: $lightGray;
        border-radius: 24px;
        border: 1px solid $dark;
        padding: 40px;
        text-align: center;
        max-width: 510px;

        h2 {
            margin-bottom: 28px;
            // padding-right: 40px;
        }

        .content {
            max-height: calc(60vh);
            overflow-y: auto;
            padding-right: 10px;
            
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
                height: calc(100% - 20px);
                transform: translateY(10px) translateX(-5px);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $gray;
                border-radius: 5px;
            }
        }

        .popUp--close {
            position: absolute;
            top: 40px;
            right: 40px;
            background-color: rgba($gray, .3);
            height: 36px;
            width: 36px;
            border-radius: 20px;
            text-align: center;
            transition: all .15s ease;

            img {
                width: 100%;
            }

            &:hover {
                background-color: rgba($gray, .4);
            }
        }

        .popUp--submit {
            display: inline-block;
            height: 44px;
            width: 100%;
            margin-top: 28px;
            border-radius: 20px;
            background: $gradient;
            text-shadow: 0 0 12px rgba(black, .4);
            font-weight: $UltraBold;
            line-height: 44px;

            &:hover {
                background: $gradient-hover;
            }

            &[disabled] {
                background-color: $dark;
                color: $lighter;
            }
        }

        form {
            margin: 28px 0 12px 0;

            .flex {
                display: flex;
                justify-content: space-between;
                margin: 6px 0;

                input {
                    flex: 1;
                    width: 56px;
                    height: 56px;
                    border-radius: 12px;
                    border: 1px solid $gray;
                    margin-right: 16px;
                    background-color: transparent;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;
                    -moz-appearance: textfield;
        
                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
    
                    &:last-child {
                        margin-right: 0;
                    }
                }

                .warning {
                    color: $warning;
                    font-size: 12px;
                    font-weight: 400;
                }
            
                .forgot {
                    text-decoration: underline;
                    text-align: right;
                    color: $lighter;
                    font-size: 12px;
                    font-weight: 400;
            
                    &:hover {
                        color: lighten($lighter, 10%);
                    }
                }
            }

            input[type=submit] {
                width: 100%;
                margin-top: 28px;
                background: $gradient;
                height: 40px;
                border-radius: 24px;
                padding: 13px 24px;
                font-size: 12px;
                font-weight: 700;
                line-height: 12px;
                text-shadow: 0 0 12px rgba(#000000, .4);
        
                &:hover {
                    background: $gradient-hover;
                }
        
                &[disabled] {
                    background: $dark;
                    cursor: default;
                }
            }
        }
    }

    &.active {
        display: block;
    }
}

@media screen and (max-width: 767px) { // mobile
    .popUp {
        .popUp--container {
            width: calc(100vw - 40px);
            padding: 28px;

            .popUp--close {
                top: 20px;
                right: 20px;
            }
        }
    }
}