@import "variable";

body {
    color: $lightGray;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* 文字設定 */
h1 {
    font-weight: $Black;
    font-size: calc($fontSize * 4);
    line-height: 1.4em;
}
h2 {
    font-weight: $UltraBold;
    font-size: calc($fontSize * 2.4);
    line-height: 1.4em;
}
h4 {
    font-weight: $Medium;
    font-size: calc($fontSize * 1.8);
    line-height: 1.6em;
}
p, span {
    font-weight: $Regular;
    font-size: calc($fontSize * 1.4);
    line-height: 1.6em;

    &.title {
        font-size: calc($fontSize * 1.6);
    }

    &.note {
        font-size: calc($fontSize * 1.2);
        color: $lighter;
    }

    &.bold {
        font-weight: $UltraBold;
    }
}

a{
    color: $lighter;
    text-decoration: underline;
    transition: all .5s;

    &:hover{
        color: $gray;
    }
}

/* 色彩設定 */
.white { color: $white; }
.lightGray { color: $lightGray; }
.lighter { color: $lighter; }
.gray { color: $gray; }
.dark { color: $dark; }
.frameBg { color: $frameBg; }
.darkBg { color: $darkBg; }

.primaryA { color: $primaryA !important; }
.primaryB { color: $primaryB !important; }
.primaryC { color: $primaryC !important; }
.neutral { color: $neutral !important; }
.success { color: $success !important; }
.error { color: $error !important; }
.warning { color: $warning !important; }

/* 按鈕設定 */
button, input[type=submit], a.button {
    cursor: pointer;
    border-radius: 24px;

    &[disabled] {
        cursor: default !important;
        background-color: $dark !important;
        background: $dark !important;
        color: $lighter !important;
    }

    &.btn-gradient {
        background: $gradient;
        text-shadow: 0 0 12px rgba(black, .4);
        font-weight: $UltraBold;

        &:hover {
            background: $gradient-hover;
        }
    }

    &.btn-outline {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            z-index: -1;
            border-radius: 9999px;
            background-color: $darkBg;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            border-radius: 9999px;
            background-image: $gradient;
        }

        &:hover:before {
            background-color: $frameBg;
        }
    }
}

/* 表單設定 */
input {
    height: 44px;
    background-color: $darkBg;
    padding: 12px 24px;
    border: 1px solid $dark;
    border-radius: 24px;
    font-size: calc($fontSize * 1.4);

    &:focus {
        border-color: $primaryC !important;
        outline: none;
    }

    &[type=checkbox] ,&[type=radio] {
        display: none;

        + span {
            display: inline-block;
            padding-left: 26px;
            line-height: 20px;
            background: url(../images/icon/icon-checkbox-normal.svg) no-repeat left top;
            background-size: 20px;
        }

        &:checked + span {
            background: url(../images/icon/icon-checkbox-higlight.svg) no-repeat left top;
            background-size: 20px;
        }
    }

    &[warning] {
        border-color: $warning !important;
    }
}

// 下拉選單
.selector{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    span{
        flex: 100%;
        color: $gray;
        padding: 8px 24px;
        margin-bottom: 12px;
        border: 1px solid $dark;
        border-radius: 24px;
        cursor: pointer;
        position: relative;
        height: 42px;
        &:after{
            content: url(../images/icon/icon-arrow-bottom.svg);
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-45%);
            transition: all .5s;
        }
    }
    div{
        flex: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
        padding: 0 8px 0 12px;
        border-radius: 12px;
        border: 1px solid transparent;
        font-size: calc($fontSize * 1.4);
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-right: 4px;
            gap: 8px;
            li{
                flex: 100%;
                padding: 8px;
                cursor: pointer;
                border-radius: 8px;
                transition: all .5s;
                &:hover{
                    background-color: $frameBg;
                }
            }
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
                height: calc(100% - 20px);
                transform: translateY(10px) translateX(-5px);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $gray;
                border-radius: 5px;
            }
        }
    }
    &.open{
        span{
            &:after{
                transform: translateY(-60%) rotate(180deg);
            }
        }
        div{
            max-height: 80vh;
            border-color: $dark;
            padding: 12px 8px 12px 12px;
            margin-bottom: 12px;
        }
    }
}

.btn-discord{
    position: fixed;
    right: 2rem;
    bottom: 52px;
}

/* nav 設定 */
nav{
    a{
        color: $lightGray;
        text-decoration: none;
        &:hover{
            color: $lightGray;
        }
    }
}

/* 頁尾設定 */
footer{
    width: 85vw;
    max-width: 76rem;
    margin: 228px auto 44px;
    text-align: center;
    color: gray;
    ul{
        display: flex;
        gap: 120px;
        justify-content: center;
        font-size: calc($fontSize * 1.4);
        li{
            a{
                transition: all .3s;
                &:hover{
                    color: $primaryC;
                }
            }
        }
    }
    .copyright{
        margin-top: 30px;
        padding-top: 28px;
        border-top: 0.5px solid $gray;
        font-size: calc($fontSize * 1.2);
    }
}

@media screen and (min-width: 1280px) {
    .btn-discord{
        right: calc(50% - 38rem);
    }
} // min-width: 1280px

@media screen and (max-width: 831px) {
    footer{
        ul{
            gap: 40px;
        }
    }
} // max-width: 831px

@media screen and (max-width: 515px) {
    h1 {
        font-size: calc($fontSize * 2.4);
    }

    h2 {
        font-size: calc($fontSize * 1.8);
    }

    h4 {
        font-size: calc($fontSize * 1.4);
    }

    p, span {
        font-size: calc($fontSize * 1.6);

        &.title {
            font-size: calc($fontSize * 1.8);
        }

        &.note {
            font-size: calc($fontSize * 1.4);
        }
    }

    .btn-discord{
        display: none;
    }

    footer{
        margin-top: 120px;
        margin-bottom: 24px;
        ul{
            flex-wrap: wrap;
            gap: 16px 0;
            li{
                flex: 50%;
                text-align: left;
            }
        }
    }
} // max-width: 515px